/* Footer */

footer, #wrapfooter{
 	width:100%;
	min-height:300px;
	background-color:#161616;
	position: absolute;
	bottom: 0;
}
#logo {
    text-align:center;
}
#logo img {
	display: inline-block;
	margin-left: auto;
	margin-right: auto; 
	vertical-align: middle;
	width: auto;
	height: auto;
}
#copyright {
	color: white;
	text-align: center;
	font-size: 10px;
}
