/* Footer */

footer, #wrapfooter {
	width:100%;
	min-height:300px;
	background-color:#0F0F0F;
	height: auto;
}
#wrapfooter {
	color: white;
	text-align: center;
}
#logo {
    text-align:center;
}
#logo img {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	width: auto;
	height: auto;
}
#copyright {
	color: white;
	text-align: center;
	font-size: 10px !important;
	font-family: Arial;
}
