/* Fonts */
@font-face /* Menu font */
{
    font-family: 'DevilBreeze';
    src: url('./font/devilbreeze_demi.eot');
    src: url('./font/devilbreeze_demi.eot') format('embedded-opentype'),
         url('./font/devilbreeze_demi.woff') format('woff'),
         url('./font/devilbreeze_demi.ttf') format('truetype'),
         url('./font/devilbreeze_demi.svg#DevilBreeze') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'NeouBold';
    src: url('./font/neou-bold.eot');
    src: url('./font/neou-bold.eot') format('embedded-opentype'),
         url('./font/neou-bold.woff') format('woff'),
         url('./font/neou-bold.ttf') format('truetype'),
         url('./font/neou-bold.svg#DevilBreeze') format('svg');
    font-weight: normal;
    font-style: normal;
} 
@font-face 
{
    font-family: 'NeouThin';
    src: url('./font/neou-thin.eot');
    src: url('./font/neou-thin.eot') format('embedded-opentype'),
         url('./font/neou-thin.woff') format('woff'),
         url('./font/neou-thin.ttf') format('truetype'),
         url('./font/neou-thin.svg#DevilBreeze') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Expressway';
    src: url('./font/expressway.eot');
    src: url('./font/expressway.eot') format('embedded-opentype'),
         url('./font/expressway.woff') format('woff'),
         url('./font/expressway.ttf') format('truetype'),
         url('./font/expressway.svg#Expressway') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Styles */

/* Header */
header{
    width:100%;
	height:145px;
	background-color:#161616;
	position:relative;
}
#head{
	overflow:hidden;
}
nav{
	width:100%;
	margin-top:112px;
	font-family: DevilBreeze !important;
	font-size: 20px;
	list-style-type:none;
	position: absolute;
	bottom: -10px;
	
}
nav ul{
	list-style-type:none !important;
	margin:0;
}
nav ul li{
	display:inline !important;
}

nav a, nav a:visited  {
	color: white;
	text-decoration: none;
	z-index:9001;
}
nav a:hover, nav a:focus {
	text-decoration: none;
	color: #489ac1;
}
.nav-fixed{
	display:inline-block;
	vertical-align: middle;
	position:fixed !important;
	top:0 !important;
	float:none !important;
	width:100%;
	background-color:#161616;
	height:33px;
	z-index:9000;
	padding-bottom: 10px;
}

/* Drop down menu Navigation */

#info-navbar {
	position:relative;
}
#info-dropdown{
	position:absolute;
	left: 0;
 	z-index:8900;
	list-style-type:none;
	display:none;
	background-color:#161616;
	
}
#info-dropdown li{
	display:block !important;
}
#login-navbar{
	position:relative;
}
#login-dropdown {
    position:absolute;
	width:400px;
    z-index:8999;
	list-style-type:none;
	display:none;
	background-color:#161616;
	right:0;
}
#login-dropdown ul li{
	display: block !important;

}
.hover {
    position:relative;
}
h3{
	font-size:13px!important;
	color: white;
	margin:0 !important;
	text-align:center;
}

/* Slider */

#slider-wrapper {
	position: relative;
	width: 100%;
	height: 400px;
	background-color:#222222;
}
#slider {
	position: relative;
	background-color:#222222;
}

/* Main Body */

#content {
	overflow:hidden;
	margin: 15px 0px;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
}
h2 { /* Page Heading formatting */
	font-family: Expressway;
}
small { /* Date formatting */
	font-family: Expressway;
}
h3 { /* Sub Heading formatting */
	font-family: Expressway;
}
.entry { /* Content formatting */
	font-family: Expressway;
	font-size: 15px;
}

/* Footer */

footer{
	width:100%;
	height:300px;
	background-color:#161616;
}
