	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
	<!-- IF DEBUG_OUTPUT --><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo><!-- ENDIF -->
	<!-- IF TRANSLATION_INFO --><span class="gensmall">{TRANSLATION_INFO}</span><!-- ENDIF -->
	</div>
</div>	
	<div class="footer-wrapper padded">
		<div class="footer-content FLOW_MIDDLE">
				<img class="logo pad" src="/images/footer.png" title="" alt="dog company footer img"></img>
				<article id="copyright">
					Designed and developed by Michael "Moc" Letcher &amp; Ali "Madmanali93" Ali. Art by Eric "DragonboySX" &amp; Brad "Gumby" Doyle.
					<br>
					<i>© Copyright 2014 by Dog Company. All Rights Reserved.</i>
				</article>
		</div>
	</div>
</body>
</html>
