<!-- IF WP_DTD -->{WP_DTD}<!-- ELSE --><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><!-- ENDIF -->
<html xmlns="http://www.w3.org/1999/xhtml" dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" xml:lang="{S_USER_LANG}">
<head>
<meta http-equiv="content-type" content="text/html"; charset="{S_CONTENT_ENCODING}" />
<meta http-equiv="content-language" content="{S_USER_LANG}" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="resource-type" content="document" />
<meta name="distribution" content="global" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="shortcut icon" href="/images/dcicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" href="/images/icon.png" sizes="128x128" type="image/x-icon"/>

{META}
<title>{SITENAME} | <!-- IF S_IN_MCP -->{L_MCP} | <!-- ELSEIF S_IN_UCP -->{L_UCP} | <!-- ENDIF -->{PAGE_TITLE}</title>
<!-- IF PHPBB_BASE --><base href="{PHPBB_BASE}" /><!-- ENDIF -->

<!-- IF S_ENABLE_FEEDS -->
	<!-- IF S_ENABLE_FEEDS_OVERALL --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {SITENAME}" href="{U_FEED}" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_NEWS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_NEWS}" href="{U_FEED}?mode=news" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUMS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_ALL_FORUMS}" href="{U_FEED}?mode=forums" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_NEW}" href="{U_FEED}?mode=topics" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS_ACTIVE --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_ACTIVE}" href="{U_FEED}?mode=topics_active" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FORUM} - {FORUM_NAME}" href="{U_FEED}?f={S_FORUM_ID}" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_TOPIC} - {TOPIC_TITLE}" href="{U_FEED}?f={S_FORUM_ID}&amp;t={S_TOPIC_ID}" /><!-- ENDIF -->
<!-- ENDIF -->
<link rel="stylesheet" href="{T_STYLESHEET_LINK}" type="text/css" />
<!-- jQuery -->
<script type="text/javascript" src="/forum/styles/dog-company/theme/js/libs/jquery-1.9.1.min.js"></script><!-- ###LINKS NEEDS FIXING### -->
<script type="text/javascript" src="/forum/styles/dog-company/theme/js/jquery.hoverIntent.js"></script><!-- ###LINKS NEEDS FIXING### -->
<!-- Counter -->
<script language="Javascript" type="text/javascript" src="/forum/styles/dog-company/theme/js/misc.js"></script><!-- ###LINKS NEEDS FIXING### -->
<script language="Javascript" type="text/javascript" src="/forum/styles/dog-company/theme/js/jquery.lwtCountdown-1.0.js"></script><!-- ###LINKS NEEDS FIXING### -->
<link rel="Stylesheet" type="text/css" href="/forum/styles/dog-company/theme/counter/dark.css" /><!-- ###LINKS NEEDS FIXING### -->
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41892420-1', 'dog-company.com');
  ga('send', 'pageview');

</script>
<!-- NAV -->
<script type="text/javascript">
	
			function openLog(){
				jQuery('#info-dropdown').hide();
				jQuery('#login-dropdown').toggle();
				return false;
			}
			function openMenu(){
				jQuery('#login-dropdown').hide();
				jQuery('#info-dropdown').toggle();
				return false;
			}
			jQuery('document').ready(function($) {
				//center top nav
				function fix_top_bar(){
					var barWidth = $('.nav-fixed').width();
					$('.nav-fixed').css({ 'left' : '50%', 'margin-left' : '-' + (barWidth/2) + 'px' });
					}
				function centerNav(){
					var barWidth = $('nav').width();
					$('nav').css({ 'left' : '50%', 'margin-left' : '-' + (barWidth/2) + 'px' });
				}
				function counterHide(){
					var browserWidth = $(window).width();
					if (browserWidth < 743){
						$('#counter').hide();
					}else {
						$('#counter').show();
					};
				}	
				//center nav
				$(window).load('',centerNav());
				$(window).resize(function(){
					var barWidth = $('nav').width();
					$('nav').css({ 'left' : '50%', 'margin-left' : '-' + (barWidth/2) + 'px' });
				});
				//fix navbar to top when scroll
				$(window).scroll(function() {
						var scrollTop = Math.max($('body').scrollTop(), $('html').scrollTop());
						if (scrollTop > 92) {
						$('nav').addClass('nav-fixed');
						fix_top_bar();								
						}else{
						$('.nav-fixed').css({ 'left' : '', 'margin-left' : ''});
						$('nav').removeClass('nav-fixed');
						centerNav();
						}
						});
				//run function to resize top bar
				fix_top_bar();
					$(window).resize(function(){
						  fix_top_bar();  
				});
				//menu drop-down
				function openInfo() {
						$('#login-dropdown').hide();
						$('#info-dropdown').show();
				}
				function openLogin() {
						$('#info-dropdown').hide();
						$('#login-dropdown').show();
				}
				function closeInfo() {
						$('#info-dropdown').hide();
				}
				function closeLogin() {
						$('#login-dropdown').hide();
				}
				//show and hide counter on certain width
				$('#countdown').load('',counterHide());
				//$('#countdown').on('load',counterHide());
				$(window).resize(function(){
				var browserWidth = $(window).width();
				if (browserWidth < 743){
					$('#counter').hide();
				}else {
					$('#counter').show();
				};});
			});//end document ready function
			//Navbar +/- changer
			var dropIcon = false;
			function dropDownIcon() {
				if(dropIcon) {
					var str = document.getElementById("info-navbar").innerHTML; 
					var res = str.replace("-", "+");
					document.getElementById("info-navbar").innerHTML = res;
					dropIcon = false;
				}
				else {
					var str = document.getElementById("info-navbar").innerHTML; 
					var res = str.replace("+", "-");
					document.getElementById("info-navbar").innerHTML = res;
					dropIcon = true;
				}
			}
</script>
<!-- IF WP_HEADERINFO_EARLY -->{WP_HEADERINFO_EARLY}<!-- ENDIF -->
<!-- PHPbb -->
<script type="text/javascript">
// <![CDATA[
<!-- IF S_USER_PM_POPUP and S_NEW_PM -->
	popup('{UA_POPUP_PM}', 400, 225, '_phpbbprivmsg');
<!-- ENDIF -->

function popup(url, width, height, name)
{
	if (!name)
	{
		name = '_popup';
	}

	window.open(url.replace(/&amp;/g, '&'), name, 'height=' + height + ',resizable=yes,scrollbars=yes,width=' + width);
	return false;
}

function jumpto()
{
	var page = prompt('{LA_JUMP_PAGE}:', '{ON_PAGE}');
	var per_page = '{PER_PAGE}';
	var base_url = '{A_BASE_URL}';

	if (page !== null && !isNaN(page) && page == Math.floor(page) && page > 0)
	{
		if (base_url.indexOf('?') == -1)
		{
			document.location.href = base_url + '?start=' + ((page - 1) * per_page);
		}
		else
		{
			document.location.href = base_url.replace(/&amp;/g, '&') + '&start=' + ((page - 1) * per_page);
		}
	}
}

/**
* Find a member
*/
function find_username(url)
{
	popup(url, 760, 570, '_usersearch');
	return false;
}

/**
* Mark/unmark checklist
* id = ID of parent container, name = name prefix, state = state [true/false]
*/
function marklist(id, name, state)
{
	var parent = document.getElementById(id);
	if (!parent)
	{
		eval('parent = document.' + id);
	}

	if (!parent)
	{
		return;
	}

	var rb = parent.getElementsByTagName('input');
	
	for (var r = 0; r < rb.length; r++)
	{
		if (rb[r].name.substr(0, name.length) == name)
		{
			rb[r].checked = state;
		}
	}
}

<!-- IF ._file -->

	/**
	* Play quicktime file by determining it's width/height
	* from the displayed rectangle area
	*
	* Only defined if there is a file block present.
	*/
	function play_qt_file(obj)
	{
		var rectangle = obj.GetRectangle();

		if (rectangle)
		{
			rectangle = rectangle.split(',')
			var x1 = parseInt(rectangle[0]);
			var x2 = parseInt(rectangle[2]);
			var y1 = parseInt(rectangle[1]);
			var y2 = parseInt(rectangle[3]);

			var width = (x1 < 0) ? (x1 * -1) + x2 : x2 - x1;
			var height = (y1 < 0) ? (y1 * -1) + y2 : y2 - y1;
		}
		else
		{
			var width = 200;
			var height = 0;
		}

		obj.width = width;
		obj.height = height + 16;

		obj.SetControllerVisible(true);

		obj.Play();
	}
<!-- ENDIF -->

// ]]>
</script>
<!-- MOD : MSSTI ABBC3 (v{S_ABBC3_VERSION}) - Start //-->
<!-- INCLUDE ./../../abbcode/abbcode_header.html -->
<!-- MOD : MSSTI ABBC3 (v{S_ABBC3_VERSION}) - End //-->
<!-- IF WP_HEADERINFO_LATE -->{WP_HEADERINFO_LATE}<!-- ENDIF -->
</head>

<body class="{S_CONTENT_DIRECTION}">
<div class="footer-fix">
	<header>
		<div id="head" class="container centered double padded ">
			<a href="http://dog-company.com"><img src="/images/header.png" title="" alt="dog company head img"></img></a>
			<div id="counter" class="pull-right">
				<div id="countdown_dashboard">
					<div class="dash days_dash">
						<span class="dash_title">days</span>
						<div class="digit">0</div>
						<div class="digit">0</div>
					</div>

					<div class="dash hours_dash">
						<span class="dash_title">hours</span>
						<div class="digit">0</div>
						<div class="digit">0</div>
					</div>

					<div class="dash minutes_dash">
						<span class="dash_title">minutes</span>
						<div class="digit">0</div>
						<div class="digit">0</div>
					</div>

					<div class="dash seconds_dash">
						<span class="dash_title">seconds</span>
						<div class="digit">0</div>
						<div class="digit">0</div>
					</div>
				</div>
				<h3>Next Operation</h3>
			</div>
		<script language="javascript" type="text/javascript">
				jQuery(document).ready(function($){
							var today = new Date();
							var currDay = today.getUTCDay();
							var saturdayTest = currDay - 6;
							var wednesdayTest = currDay - 3;
							var currHour = today.getUTCHours();
							if (wednesdayTest > saturdayTest && wednesdayTest <= 0)
							{
								if(wednesdayTest == 0 && currHour >= 21)
								{
									//run saturday script
									var thisSat = -(saturdayTest) + today.getUTCDate();
									var thisYear = today.getUTCFullYear();
									var thisMonth = today.getUTCMonth() + 1;
									$('#countdown_dashboard').countDown({
									targetDate: {
									'day': thisSat,
									'month': thisMonth,
									'year': thisYear,
									'hour': 21,
									'min': 0,
									'sec': 0,
									'utc': true
									},
									omitWeeks: true
									}); 
								}
								else
								{
									//run wednesday script
									var thisWed = -(wednesdayTest) + today.getUTCDate();
									var thisYear = today.getUTCFullYear();
									var thisMonth = today.getUTCMonth() + 1;
									$('#countdown_dashboard').countDown({
									targetDate: {
									'day': thisWed,
									'month': thisMonth,
									'year': thisYear,
									'hour': 21,
									'min': 0,
									'sec': 0,
									'utc': true
									},
									omitWeeks: true
									});
								}
							} 
							else
							{
								if((saturdayTest == 0 && currHour >= 21) || (saturdayTest > 0))
								{
									//run next wednesday script
									var nextWed = -(wednesdayTest) + today.getUTCDate() + 7;
									var thisYear = today.getUTCFullYear();
									var thisMonth = today.getUTCMonth() + 1;
									$('#countdown_dashboard').countDown({
									targetDate: {
									'day': nextWed,
									'month': thisMonth,
									'year': thisYear,
									'hour': 21,
									'min': 0,
									'sec': 0,
									'utc': true
									},
									omitWeeks: true
									});
								}
								else
								{
									//run saturday script
									var thisSat = -(saturdayTest) + today.getUTCDate();
									var thisYear = today.getUTCFullYear();
									var thisMonth = today.getUTCMonth() + 1;
									$('#countdown_dashboard').countDown({
									targetDate: {
									'day': thisSat,
									'month': thisMonth,
									'year': thisYear,
									'hour': 21,
									'min': 0,
									'sec': 0,
									'utc': true
									},
									omitWeeks: true
									});
								}
							};
							});
		</script>
		</div>
		<nav class="row container " >
			<ul class="pull-left double pad-left" id="nav-left" style="height: 33px">
				<li class="nav-li" title="click to go 'Home'"><a href="/">hoMe</a></li>
				<li class="nav-li" title="click to go 'Forums'"><a href="./">Forums</a></li>
				<li title="click to go 'About Us'"><a href="/?page_id=4">About Us</a></li>
				<li class="nav-li" id="info-navbar"><a href="javascript:void(0)" onclick="openMenu();dropDownIcon();">Info+</a>
					<ul id="info-dropdown" >
						<li title="click to go 'Organisation & Roster'"><a href="/?page_id=11">Organisation</a></li>
						<li title="click to go 'Training & Doctrine'"><a href="/?page_id=471">Doctrine</a></li>
						<li title="click to go 'Arma XML'"><a href="/squad/squadXML.php">Arma XML</a></li>
						<li title="click to go 'FAQ'"><a href="/?page_id=7">FAQ</a></li>
					</ul>
				</li>
				<li class="nav-li" title="click to go 'Media'"><a href="/?page_id=9">Media</a></li>
			</ul>
			<ul class="pull-right double pad-right" id="nav-right" style="height: 33px; position:relative;">
				<!-- IF S_USER_LOGGED_IN -->
				<li id="login-navbar" title="click to go 'Profile'"><a href="{ROOT_PATH}memberlist.php?mode=viewprofile&un={S_USERNAME}">Profile</a></li>
				<li title="click to Logout"><a href="{U_LOGIN_LOGOUT}">Logout</a></li>
				<!-- ELSE -->
				<li id="login-navbar" title="click to Login"><a href="javascript:void(0)" onclick="openLog()">Login</a>
					<ul id="login-dropdown">
						<li>
							<div id="login-form-header">
								<h2>User Login</h2>
							</div>
							<div id="form-wrapper">
								<form class="wpuloginform" method="post" action="{S_LOGIN_ACTION}">
									<li><label for="phpbb_username">Username</label><input tabindex="1" class="inputbox autowidth" type="text" name="username" id="phpbb_username"/></li>
									<li><label for="phpbb_password">Password</label> <input tabindex="2" class="inputbox autowidth" type="password" name="password" id="phpbb_password" maxlength="32" /></li>
									<li><a href="{U_REGISTER}">Register</a></li>
									<li><a href="{U_SEND_PASSWORD}">Forgot Password?</a></li>
									<li><input type="submit" name="login" class="wpuloginsubmit" value="{L_LOGIN}" /></li>
									{S_LOGIN_REDIRECT}
								</form>
							</div>
						</li>
					</ul>
				</li>
				<li><a href="{U_REGISTER}">Register</a></a></li>
				<!-- ENDIF -->
			</ul>
		</nav>
		<!-- resize menu text -->
		<script src="/forum/styles/dog-company/theme/js/fit-text/jquery.fittext.js"></script><!-- ###LINKS NEEDS FIXING### -->
		<script type="text/javascript">
			$('nav').fitText(3.0,{ minFontSize: '12px', maxFontSize: '18px' });
		</script>
	</header>

	<div id="menubar" class="container centered whole double padded">
		<table width="100%" cellspacing="0">
		<tr>
			<td class="genmed">
				<!-- IF U_RESTORE_PERMISSIONS --><a href="{U_RESTORE_PERMISSIONS}">{L_RESTORE_PERMISSIONS}</a> |<!-- ENDIF -->
				<!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN -->&nbsp;<span style="color: red;">{L_BOARD_DISABLED}</span> | <!-- ENDIF -->
				<!-- IF not S_IS_BOT -->
					<!-- IF S_USER_LOGGED_IN -->
						<!-- IF S_DISPLAY_PM --><a href="{U_PRIVATEMSGS}">{PRIVATE_MESSAGE_INFO}<!-- IF PRIVATE_MESSAGE_INFO_UNREAD --> | {PRIVATE_MESSAGE_INFO_UNREAD}<!-- ENDIF --></a><!-- ENDIF -->
					<!-- ENDIF -->
				<!-- ENDIF -->
				<!-- IF U_MCP --><span class="gensmall"> | <a href="{U_MCP}">{L_MCP}</a></span><!-- ENDIF -->
				<!-- IF U_ACP --><span class="gensmall"> | <a href="{U_ACP}">{L_ACP}</a></span><br/><!-- ENDIF -->
			</td>
			<td class="genmed" align="{S_CONTENT_FLOW_END}">
				<a href="{U_FAQ}">{L_FAQ}</a> |
				<!-- IF S_BLOG --><a href="{U_BLOG}" title="{L_BLOG}">{L_BLOG}</a> | <!-- ENDIF -->
				<!-- IF S_DISPLAY_SEARCH --><a href="{U_SEARCH}">{L_SEARCH}</a><!-- ENDIF -->
				<!-- IF not S_IS_BOT -->
					<!-- IF S_DISPLAY_MEMBERLIST --> | <a href="{U_MEMBERLIST}">{L_MEMBERLIST}</a><!-- ENDIF -->
					<!-- IF S_USER_LOGGED_IN --> | <a href="{U_PROFILE}">{L_PROFILE}</a><!-- ENDIF -->
				<!-- ENDIF -->
			</td>
		</tr>
		</table>
	</div>

	<div id="content-wrapper" class="container centered whole pad-right pad-left double">

		<!-- IF S_DISPLAY_SEARCH -->
		<p class="searchbar">
			<span style="float: {S_CONTENT_FLOW_BEGIN};"><a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a> | <a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a></span>
			<!-- IF S_USER_LOGGED_IN or S_LOAD_UNREADS -->
			<span style="float: {S_CONTENT_FLOW_END};"><!-- IF S_LOAD_UNREADS --><a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a><!-- IF S_USER_LOGGED_IN --> | <!-- ENDIF --><!-- ENDIF --><!-- IF S_USER_LOGGED_IN --><a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a> | <a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a><!-- ENDIF --></span>
			<!-- ENDIF -->
		</p>
		<!-- ENDIF -->

		<br style="clear: both;" /><br />
		<!-- INCLUDE breadcrumbs.html -->
