<!-- INCLUDE ucp_header.html -->

<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th colspan="2" valign="middle">{L_TITLE}</th>
</tr>
<!-- IF ERROR -->
	<tr>
		<td class="row3" colspan="2" align="center"><span class="gensmall error">{ERROR}</span></td>
	</tr>
<!-- ENDIF -->
<tr> 
	<td class="row1" colspan="2"><span class="gensmall">{L_PROFILE_INFO_NOTICE}</span></td>
</tr>
<!-- IF S_USER_UCP_ICQ -->
<tr> 
	<td class="row1" width="35%"><b class="genmed">{L_UCP_ICQ}:<!-- IF UCP_ICQ_REQUIRE --> *<!-- ENDIF --> </b></td>
	<td class="row2"><input class="post" type="text" name="icq" size="30" maxlength="15" value="{ICQ}" /></td>
</tr>
<!-- ENDIF -->
<!-- IF S_USER_UCP_AIM -->
<tr> 
	<td class="row1" width="35%"><b class="genmed">{L_UCP_AIM}:<!-- IF UCP_AIM_REQUIRE --> *<!-- ENDIF --> </b></td>
	<td class="row2"><input class="post" type="text" name="aim" size="30" maxlength="255" value="{AIM}" /></td>
</tr>
<!-- ENDIF -->
<!-- IF S_USER_UCP_MSNM -->
<tr> 
	<td class="row1" width="35%"><b class="genmed">{L_UCP_MSNM}:<!-- IF UCP_MSNM_REQUIRE --> *<!-- ENDIF --> </b></td>
	<td class="row2"><input class="post" type="text" name="msn" size="30" maxlength="255" value="{MSN}" /></td>
</tr>
<!-- ENDIF -->
<!-- IF S_USER_UCP_YIM -->
<tr> 
	<td class="row1" width="35%"><b class="genmed">{L_UCP_YIM}:<!-- IF UCP_YIM_REQUIRE --> *<!-- ENDIF --> </b></td>
	<td class="row2"><input class="post" type="text" name="yim" size="30" maxlength="255" value="{YIM}" /></td>
</tr>
<!-- ENDIF -->
<!-- IF S_USER_UCP_JABBER -->
<tr> 
	<td class="row1" width="35%"><b class="genmed">{L_UCP_JABBER}:<!-- IF UCP_JABBER_REQUIRE --> *<!-- ENDIF --> </b></td>
	<td class="row2"><input class="post" type="text" name="jabber" size="30" maxlength="255" value="{JABBER}" /></td>
</tr>
<!-- ENDIF -->
<!-- Social Networking Site Buttons START -->
<tr>
	<td class="row1" width="35%"><b class="genmed">{L_UCP_STEAM}:</b><br /><span>{L_STEAM_EXPLAIN}</span></td>
	<td class="row2"><input class="post inputbox" type="text" name="steam" size="30" id="steam" maxlength="255" value="{STEAM}"/></td>
</tr>
<tr>
	<td class="row1" width="35%"><b class="genmed">{L_UCP_YOUTUBE}:</b><br /><span>{L_YOUTUBE_EXPLAIN}</span></td>
	<td class="row2"><input class="post inputbox" type="text" name="youtube" size="30" id="youtube" maxlength="255" value="{YOUTUBE}"/></td>
</tr>
<tr>
	<td class="row1" width="35%"><b class="genmed">{L_UCP_TWITCH}:</b><br /><span>{L_TWITCH_EXPLAIN}</span></td>
	<td class="row2"><input class="post inputbox" type="text" name="twitch" size="30" id="twitch" maxlength="255" value="{TWITCH}"/></td>
</tr>
<tr>
	<td class="row1" width="35%"><b class="genmed">{L_UCP_XBOX}:</b><br /><span>{L_XBOX_EXPLAIN}</span></td>
	<td class="row2"><input class="post inputbox" type="text" name="xbox" size="30" id="xbox" maxlength="255" value="{XBOX}"/></td>
</tr>
<tr>
	<td class="row1" width="35%"><b class="genmed">{L_UCP_BEBO}:</b><br /><span>{L_BEBO_EXPLAIN}</span></td>
	<td class="row2"><input class="post inputbox" type="text" name="bebo" size="30" id="bebo" maxlength="255" value="{BEBO}"/></td>
</tr>
<tr>
	<td class="row1" width="35%"><b class="genmed">{L_UCP_BLOGGER}:</b><br /><span>{L_BLOGGER_EXPLAIN}</span></td>
	<td class="row2"><input class="post inputbox" type="text" name="blogger" size="30" id="blogger" maxlength="255" value="{BLOGGER}" /></td>
</tr>		
<tr>
	<td class="row1" width="35%"><b class="genmed">{L_UCP_FACEBOOK}:</b><br /><span>{L_FACEBOOK_EXPLAIN}</span></td>
	<td class="row2"><input class="post inputbox" type="text" name="facebook" size="30" id="facebook" maxlength="255" value="{FACEBOOK}" /></td>
</tr>
<tr>
	<td class="row1" width="35%"><b class="genmed">{L_UCP_GOODREADS}:</b><br /><span>{L_GOODREADS_EXPLAIN}</span></td>
	<td class="row2"><input class="post inputbox" type="text" name="goodreads" size="30" id="goodreads" maxlength="255" value="{GOODREADS}" /></td>
</tr>
<tr>
	<td class="row1" width="35%"><b class="genmed">{L_UCP_LINKEDIN}:</b><br /><span>{L_LINKEDIN_EXPLAIN}</span></td>
	<td class="row2"><input class="post inputbox" type="text" name="linkedin" size="30" id="linkedin" maxlength="255" value="{LINKEDIN}" /></td>
</tr>
<tr>
	<td class="row1" width="35%"><b class="genmed">{L_UCP_MYSPACE}:</b><br /><span>{L_MYSPACE_EXPLAIN}</span></td>
	<td class="row2"><input class="post inputbox" type="text" name="myspace" size="30" id="myspace" maxlength="255" value="{MYSPACE}" /></td>
</tr>
<tr>
	<td class="row1" width="35%"><b class="genmed">{L_UCP_NETLOG}:</b><br /><span>{L_NETLOG_EXPLAIN}</span></td>
	<td class="row2"><input class="post inputbox" type="text" name="netlog" size="30" id="netlog" maxlength="255" value="{NETLOG}" /></td>
</tr>
<tr>
	<td class="row1" width="35%"><b class="genmed">{L_UCP_TWITTER}:</b><br /><span>{L_TWITTER_EXPLAIN}</span></td>
	<td class="row2"><input class="post inputbox" type="text" name="twitter" size="30" id="twitter" maxlength="15" value="{TWITTER}" /></td>
</tr>
<!-- Social Networking Site Buttons END -->
<!-- IF S_USER_UCP_WEBSITE -->
<tr> 
	<td class="row1" width="35%"><b class="genmed">{L_WEBSITE}:<!-- IF UCP_WEBSITE_REQUIRE --> *<!-- ENDIF --> </b></td>
	<td class="row2"><input class="post" type="text" name="website" size="30" maxlength="255" value="{WEBSITE}" /></td>
</tr>
<!-- ENDIF -->
<!-- IF S_USER_UCP_LOCATION -->	
<tr> 
	<td class="row1" width="35%"><b class="genmed">{L_LOCATION}:<!-- IF UCP_LOCATION_REQUIRE --> *<!-- ENDIF --> </b></td>
	<td class="row2"><input class="post" type="text" name="location" size="30" maxlength="100" value="{LOCATION}" /></td>
</tr>
<!-- ENDIF -->	
<!-- IF S_USER_UCP_OCCUPATION -->
<tr> 
	<td class="row1" width="35%"><b class="genmed">{L_OCCUPATION}:<!-- IF UCP_OCCUPATION_REQUIRE --> *<!-- ENDIF --> </b></td>
	<td class="row2"><textarea class="post" name="occupation" rows="3" cols="30">{OCCUPATION}</textarea></td>
</tr>
<!-- ENDIF -->
<!-- IF S_USER_UCP_INTERESTS -->
<tr> 
	<td class="row1" width="35%"><b class="genmed">{L_INTERESTS}:<!-- IF UCP_INTERESTS_REQUIRE --> *<!-- ENDIF --> </b></td>
	<td class="row2"><textarea class="post" name="interests" rows="3" cols="30">{INTERESTS}</textarea></td>
</tr>
<!-- ENDIF -->
<!-- IF S_BIRTHDAYS_ENABLED -->
	<tr> 
		<td class="row1" width="35%"><b class="genmed">{L_BIRTHDAY}:<!-- IF UCP_BIRTHDAY_REQUIRE --> *<!-- ENDIF --> </b><br /><span class="gensmall">{L_BIRTHDAY_EXPLAIN}</span></td>
		<td class="row2"><span class="genmed">{L_DAY}:</span> <select name="bday_day">{S_BIRTHDAY_DAY_OPTIONS}</select> <span class="genmed">{L_MONTH}:</span> <select name="bday_month">{S_BIRTHDAY_MONTH_OPTIONS}</select> <span class="genmed">{L_YEAR}:</span> <select name="bday_year">{S_BIRTHDAY_YEAR_OPTIONS}</select></td>
	</tr>
<!-- ENDIF -->
<!-- BEGIN profile_fields -->
	<tr> 
		<td class="row1" width="35%">
			<b class="genmed">{profile_fields.LANG_NAME}: </b>
			<!-- IF profile_fields.S_REQUIRED --><b>*</b><!-- ENDIF -->
			<!-- IF profile_fields.LANG_EXPLAIN --><br /><span class="gensmall">{profile_fields.LANG_EXPLAIN}</span><!-- ENDIF -->
		</td>
		<td class="row2">{profile_fields.FIELD}<!-- IF profile_fields.ERROR --><br /><span class="gensmall error">{profile_fields.ERROR}</span><!-- ENDIF --></td>
	</tr>
<!-- END profile_fields -->
<tr>
	<td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input class="btnmain" type="submit" name="submit" value="{L_SUBMIT}" />&nbsp;&nbsp;<input class="btnlite" type="reset" value="{L_RESET}" name="reset" /></td>
</tr>
</table>

<!-- INCLUDE ucp_footer.html -->