// =============================================
//              Message Boxes
//          Last Updated:2013-4-24
// =============================================




%message {
  position:relative;
  word-wrap:break-word;
  padding:0.25em 1em;
  background:$button-color;
  border:1px solid $button-active;
  color:$button-text;
  font-weight:bold;
  text-decoration:none;
  @include rounded($radius);
}

%message-small { @include _small; }
%message-large { @include _large; }
%message-square { @include _square; }
%message-round { @include _round; }
%message-disabled { @include state(disabled,normal,desaturate($button-color,20%)); }

%message-info {
  background-color:$info-background;
  color:$info-color;
  border-color:$info-border;
  &%message-disabled {
    @include state(disabled,normal,desaturate($info-color,20%));
  }
}

%message-alert {
  background-color:$alert-background;
  color:$alert-color;
  border-color:$alert-border;
  &%message-disabled {
    @include state(disabled,normal,desaturate($alert-color,20%));
  }
}

%message-warning {
  background:$warning-background;
  color:$warning-color;
  border-color:$warning-border;
  &%message-disabled {
    @include state(disabled,normal,desaturate($warning-color,20%));
  }
}

%message-error {
  background:$error-background;
  color:$error-color;
  border-color:$error-border;
  &%message-disabled {
    @include state(disabled,normal,desaturate($error-color,20%));
  }
}

%message-success {
  background:$success-background;
  color:$success-color;
  border-color:$success-border;
  &%message-disabled {
    @include state(disabled,normal,desaturate($success-color,20%));
  }
}

%message-dismissible {
  padding-right:3em;
  &:after {
    content:'X';
    display:block;
    padding:0.5em 0;
    font-size:0.8em;
    text-align:center;
    position:absolute;
    top:0;
    right:1em;
    line-height:1.5;
  }
}

@mixin message-modifiers() {
  $modifiers: small large info alert warning error success square round disabled dismissible;
  @for $i from 1 through length($modifiers) {
    &.#{nth($modifiers, $i)} {
      @extend %message-#{nth($modifiers, $i)};
    }
  }
}

@if $classes {
  .message {
    @extend %message;
    @include message-modifiers;
  }
}

@if $aria {
  [role~=alert] {
    @extend %message;
    
    @if $classes {
      @include message-modifiers;
    }
  }
}
