extends template

block title
  title GroundworkCSS &hearts;

block content
  .container
    h2 Example Layouts to Get You Going
    .row
      .one.small-tablet.third.padded
        .align-center
          a.button(href='./layout-1.html')
            img.gap-top(src='../images/layout-1.gif')
            | Layout 1
      .one.small-tablet.third.padded
        .align-center
          a.button(href='./layout-2.html')
            img.gap-top(src='../images/layout-2.gif')
            | Layout 2
      .one.small-tablet.third.padded
        .align-center
          a.button(href='./layout-3.html')
            img.gap-top(src='../images/layout-3.gif')
            | Layout 3
    .row
      .one.small-tablet.third.padded
        .align-center
          a.button(href='./layout-4.html')
            img.gap-top(src='../images/layout-4.gif')
            | Layout 4
      .one.small-tablet.third.padded
        .align-center
          a.button(href='./layout-5.html')
            img.gap-top(src='../images/layout-5.gif')
            | Layout 5
      .one.small-tablet.third.padded
        .align-center
          a.button(href='./kitchen-sink.html')
            img.gap-top(src='../images/kitchen-sink.gif')
            | Kitchen Sink
