extends template

block title
  title GroundworkCSS &hearts;

block content
  .container
    .row
      .one.whole.padded
        h2.AmericanTypewriter Typography
        h4.AverageSans Text Elements
        .row
          .one.third.padded
            h1 Heading 1
            h2 Heading 2
            h3 Heading 3
            h4 Heading 4
            h5 Heading 5
            h6 Heading 6
          .one.third.padded
            p Paragraph text
            p
              | Paragraph with 
              sup superscript
            p
              | Paragraph with 
              sub subscript
            p
              | Paragraph with 
              small small text
            p
              | Paragraph with 
              big large text
            p
              | Paragraph with 
              em emphasized text
            p
              | Paragraph with 
              b bold text
            p
              | Paragraph with 
              del deleted text
            p
              | Paragraph with 
              abbr.tooltip(title='Abreviated') abbr
              |  text
          .one.third.padded
            ul.unstyled
              li Unstyled list item 1
              li Unstyled list item 2
            ol.unstyled
              li Unstyled ordered list item 1
              li Unstyled ordered list item 2
            ul
              li Normal list item 1
              li Normal list item 2
            ol
              li Ordered list item 1
              li Ordered list item 2
            ul.list
              li Styled list item 1
              li Styled list item 2
            ol.list
              li Styled ordered list item 1
              li Styled ordered list item 2
        h4.AverageSans Colors
        .row
          .one.third.padded
            b
              span.yellow Yellow
              br
              span.orange Orange
              br
              span.red Red
              br
              span.pink Pink
              br
              span.purple Purple
              br
              span.asphalt Asphalt
              br
              span.blue Blue
              br
              span.turquoise Turquoise
              br
              span.green Green
          .one.third.padded
            ul
              li.yellow Normal list item
              li.orange Normal list item
              li.red Normal list item
              li.pink Normal list item
              li.purple Normal list item
              li.asphalt Normal list item
              li.blue Normal list item
              li.turquoise Normal list item
              li.green Normal list item
          .one.third.padded
            ol
              li.yellow Ordered list item
              li.orange Ordered list item
              li.red Ordered list item
              li.pink Ordered list item
              li.purple Ordered list item
              li.asphalt Ordered list item
              li.blue Ordered list item
              li.turquoise Ordered list item
              li.green Ordered list item
        .row
          .one.third.padded
            b
              span.info Info
              br
              span.alert Alert
              br
              span.warning Warning
              br
              span.error Error
              br
              span.success Success
          .one.third.padded
            ul.list
              li.yellow Styled list item
              li.orange Styled list item
              li.red Styled list item
              li.pink Styled list item
              li.purple Styled list item
              li.asphalt Styled list item
              li.blue Styled list item
              li.turquoise Styled list item
              li.green Styled list item
          .one.third.padded
            ol.list
              li.yellow Styled ordered list item
              li.orange Styled ordered list item
              li.red Styled ordered list item
              li.pink Styled ordered list item
              li.purple Styled ordered list item
              li.asphalt Styled ordered list item
              li.blue Styled ordered list item
              li.turquoise Styled ordered list item
              li.green Styled ordered list item
        h4.AverageSans Links
        .row
          .one.third.padded
            h1
              a(href="#") Heading 1 link
            h2
              a(href="#") Heading 2 link
            h3
              a(href="#") Heading 3 link
            h4
              a(href="#") Heading 4 link
            h5
              a(href="#") Heading 5 link
            h6
              a(href="#") Heading 6 link
          .one.third.padded
            p
              a(href="#") Paragraph link
            p
              a(href="#")
                | Paragraph link with 
                sup superscript
            p
              a(href="#")
                | Paragraph link with 
                sub subscript
            p
              a(href="#")
                | Paragraph link with 
                small small text
            p
              a(href="#")
                | Paragraph link with 
                big large text
            p
              a(href="#")
                | Paragraph link with 
                em emphasized text
            p
              a(href="#")
                | Paragraph link with 
                b bold text
          .one.third.padded
            ul
              li
                a(href="#") Normal list link item 1
              li
                a(href="#") Normal list link item 2
            ol
              li
                a(href="#") Ordered list link item 1
              li
                a(href="#") Ordered list link item 2
            ul.list
              li
                a(href="#") Styled list link item 1
              li
                a(href="#") Styled list link item 2
            ol.list
              li
                a(href="#") Styled ordered link list item 1
              li
                a(href="#") Styled ordered link list item 2
        h4.AverageSans Link States
        .row
          .one.whole.padded
            a.disabled(href="#") Disabled link item
        hr
        br
        h2.AmericanTypewriter Web Fonts Usage
        .row
          .one.whole.padded
            h5.AverageSans Average Sans webfont
            h5.AmericanTypewriter American Typewriter webfont
        hr
        br
        h2.AmericanTypewriter Code
        h4.AverageSans Blocks
        pre
          code
            | $names: h1 h2 h3 h4 h5 h6 p blockquote cite small big large em italic b bold strong sup sub code pre info alert warning error invalid success valid;
          code
            | @for $i from 1 through length($names) {
          code
            |   .\#{nth($names, $i)} {
          code
            |     @extend %\#{nth($names, $i)};
          code
            |   }
          code
            | }
        br
        h4.AverageSans Inline
        p
          | This is some text with some
          code inline code
          | automatic
        hr
        br
        h2.AmericanTypewriter Buttons
        .row
          .one.third.padded
            h4.AverageSans Button Sizes
            p
              button.small Small Button
            p
              button Medium Button
            p
              button.large Large Button
          .one.third.padded
            h4.AverageSans Button Types
            p
              button Normal Button
            p
              button.info Info Button
            p
              button.success Success Button
            p
              button.alert Alert Button
            p
              button.warning Warning Button
            p
              button.error Error Button
          .one.third.padded
            h4.AverageSans Button Styles
            p
              button Normal Button
            p
              button.square Square Button
            p
              button.round Round Button
            p
              button.block Block Button
        h2.AmericanTypewriter Button States
        .row
          .one.third.padded
            h4.AverageSans Disabled
            p
              button.disabled(tabindex='-1') Disabled Button
            p
              button.info.disabled Disabled Info
            p
              button.success.disabled Disabled Success
            p
              button.alert.disabled Disabled Alert
            p
              button.warning.disabled Disabled Warning
            p
              button.error.disabled Disabled Error
          .one.third.padded
            h4.AverageSans Active
            p
              button.active Active Button
            p
              button.info.active Active Info
            p
              button.success.active Active Success
            p
              button.alert.active Active Alert
            p
              button.warning.active Active Warning
            p
              button.error.active Active Error
          .one.third.padded
            h4.AverageSans Colors
            p
              button.yellow Yellow Button
            p
              button.orange Orange Button
            p
              button.red Red Button
            p
              button.pink Pink Button
            p
              button.purple Purple Button
            p
              button.asphalt Asphalt Button
            p
              button.blue Blue Button
            p
              button.turquoise Turquoise Button
            p
              button.green Green Button
        h2.AmericanTypewriter Button Lists & Dropdowns
        .row
          .one.third.padded
            ul.button-list
              li
                a(href='#') Button 1
              li
                a(href='#') Button 2
              li
                a(href='#') Button 3
            br
            ul.button-list
              li
                a.blue(href='#') Button 1
              li
                a.turquoise(href='#') Button 2
              li
                a.green(href='#') Button 3
            br
          .one.third.padded
            ul.button-list
              li
                a(href='#')
                  i.icon-github-alt
              li
                a(href='#')
                  i.icon-twitter
              li
                a(href='#')
                  i.icon-linkedin-sign
              li
                a(href='#')
                  i.icon-google-plus
              li
                a(href='#')
                  i.icon-facebook-sign
              li
                a(href='#')
                  i.icon-pinterest
            br
            ul.button-list
              li
                a.yellow(href='#')
                  i.icon-github-alt
              li
                a.orange(href='#')
                  i.icon-twitter
              li
                a.red(href='#')
                  i.icon-linkedin-sign
              li
                a.pink(href='#')
                  i.icon-google-plus
              li
                a.purple(href='#')
                  i.icon-facebook-sign
              li
                a.asphalt(href='#')
                  i.icon-pinterest
            br
          .one.third.padded
              .dropdown
                button.button
                  | Dropdown Menu Button
                ul
                  li
                    a(href='#')
                      i.icon-home
                      |  Example Menu Item 1
                  li
                    a(href='#')
                      i.icon-envelope-alt
                      |  Example Menu Item 2
                  li
                    hr
                  li
                    a(href='#')
                      i.icon-heart
                      |  Seperated Menu Item
              br
              .dropdown.gap-top
                button.button.blue.button
                  | Dropdown Menu Button
                ul
                  li
                    a(href='#')
                      i.icon-home
                      |  Example Menu Item 1
                  li
                    a(href='#')
                      i.icon-envelope-alt
                      |  Example Menu Item 2
                  li
                    hr
                  li
                    a(href='#')
                      i.icon-heart
                      |  Seperated Menu Item
            br
        hr
        br
        h2.AmericanTypewriter Forms
        .row
          .one.whole.padded
            form(action='#', method='post')
              fieldset
                legend Example Form
                .row
                  .one.whole.padded
                    label(for='name') First & Last Name
                    input#name(type='text', placeholder='First & Last Name')
                .row
                  .one.whole.padded
                    label(for='email') Email Address
                    input#email(type='email', placeholder='you@example.com')
                .row
                  .one.whole.padded
                    label(for='address') Address
                    input#address(type='text', placeholder='Street Address')
                .row
                  .one.half.padded
                    input(type='text', placeholder='City')
                  .one.fourth.padded
                    span.select-wrap
                      select.unselected
                        option(value='', disabled='', selected='') State
                        option(value='AL') Alabama
                        option(value='AK') Alaska
                        option(value='AZ') Arizona
                        option(value='AR') Arkansas
                        option(value='CA') California
                        option(value='CO') Colorado
                        option(value='CT') Connecticut
                        option(value='DE') Delaware
                        option(value='FL') Florida
                        option(value='GA') Georgia
                        option(value='HI') Hawaii
                        option(value='ID') Idaho
                        option(value='IL') Illinois
                        option(value='IN') Indiana
                        option(value='IA') Iowa
                        option(value='KS') Kansas
                        option(value='KY') Kentucky
                        option(value='LA') Louisiana
                        option(value='ME') Maine
                        option(value='MD') Maryland
                        option(value='MA') Massachusetts
                        option(value='MI') Michigan
                        option(value='MN') Minnesota
                        option(value='MS') Mississippi
                        option(value='MO') Missouri
                        option(value='MT') Montana
                        option(value='NE') Nebraska
                        option(value='NV') Nevada
                        option(value='NH') New Hampshire
                        option(value='NJ') New Jersey
                        option(value='NM') New Mexico
                        option(value='NY') New York
                        option(value='NC') North Carolina
                        option(value='ND') North Dakota
                        option(value='OH') Ohio
                        option(value='OK') Oklahoma
                        option(value='OR') Oregon
                        option(value='PA') Pennsylvania
                        option(value='RI') Rhode Island
                        option(value='SC') South Carolina
                        option(value='SD') South Dakota
                        option(value='TN') Tennessee
                        option(value='TX') Texas
                        option(value='UT') Utah
                        option(value='VT') Vermont
                        option(value='VA') Virginia
                        option(value='WA') Washington
                        option(value='WV') West Virginia
                        option(value='WI') Wisconsin
                        option(value='WY') Wyoming
                        option(value='AS') American Samoa
                        option(value='DC') District of Columbia
                        option(value='FM') Federated States of Micronesia
                        option(value='GU') Guam
                        option(value='MH') Marshall Islands
                        option(value='MP') Northern Mariana Islands
                        option(value='PW') Palau
                        option(value='PR') Puerto Rico
                        option(value='VI') Virgin Islands
                        option(value='AE') Armed Forces Africa
                        option(value='AA') Armed Forces Americas
                        option(value='AE') Armed Forces Canada
                        option(value='AE') Armed Forces Europe
                        option(value='AE') Armed Forces Middle East
                        option(value='AP') Armed Forces Pacific
                        option(value='AB') Alberta
                        option(value='BC') British Columbia
                        option(value='MB') Manitoba
                        option(value='NB') New Brunswick
                        option(value='NL') Newfoundland and Labrador
                        option(value='NS') Nova Scotia
                        option(value='NT') Northwest Territories
                        option(value='NU') Nunavut
                        option(value='ON') Ontario
                        option(value='PE') Prince Edward Island
                        option(value='QC') Quebec
                        option(value='SK') Saskatchewan
                        option(value='YT') Yukon Territory
                  .one.fourth.padded
                    input(type='text', placeholder='Zip Code')
                .row
                  .one.whole.padded
                    label(for='message') Special Instructions
                    textarea#message(placeholder='Enter your message...')
                .row
                  .one.whole.padded
                    label(for='twitter') Twitter
                    .row
                      .one.half.pad-right.gap-bottom.no-pad-small-tablet
                        .row
                          .one.mobile.sixth
                            span.prefix @
                          .five.mobile.sixths
                            input#twitter(type='text', name='twitter', placeholder='username')
                      .one.half.pad-left.gap-bottom.no-pad-small-tablet
                        .row
                          .three.mobile.fifths
                            input(type='text', name='sidereel', placeholder='pick username')
                          .two.mobile.fifths
                            span.suffix @example.com
                .row
                  .one.whole.padded
                    | Pick a thing:
                    ul.radio-list
                      li
                        input#thing1(type='radio', name='things', checked='')
                        label.inline(for='thing1') Thing one
                      li
                        input#thing2(type='radio', name='things')
                        label.inline(for='thing2') Thing two
                .row
                  .one.whole.padded
                    button Submit
                    |  
                    button.warning Cancel
                .row
                  .one.whole.padded
                    input(type='submit')
                    |  
                    input.warning(type='reset')
                .row
                  .double.padded
                    h6 Small
                    a.small.button(href='#') Link
                    |  
                    button.small Button
                    |  
                    input.small(type='submit')
                    |  
                    input.small.warning(type='reset')
                    hr
                    h6 Normal
                    a.button(href='#') Link
                    |  
                    button Button
                    |  
                    input(type='submit')
                    |  
                    input.warning(type='reset')
                    hr
                    h6 Large
                    a.large.button(href='#') Link
                    |  
                    button.large Button
                    |  
                    input.large(type='submit')
                    |  
                    input.large.warning(type='reset')
                .row
                  .one.whole.padded
                    input(type='checkbox', name='things', checked='')
                    | I want all the things!
            .row
              .one.whole.padded
                p.invalid
                  label Invalid entry field label
                  input(value='Invalid entry')
                .invalid.row
                  .one.mobile.tenth
                    span.prefix @
                  .nine.mobile.tenths
                    input(value='Invalid entry')
            .row
              .one.whole.padded
                p.valid
                  label Valid entry field label
                  input(value='Valid entry')
                .valid.row
                  .one.mobile.tenth
                    span.prefix @
                  .nine.mobile.tenths
                    input(value='Valid entry')
        hr
        br
        h2.AmericanTypewriter Navigation Components
        h4.AverageSans Horizontal Grid Navigation (grid)
        nav.small-tablet
          ul.row
            li.one.small-tablet.fourth
              a(href='#nowhere', title='Lorum ipsum dolor sit amet') Lorem
            li.menu.one.small-tablet.fourth
              a(href='#nowhere', title='Aliquam tincidunt mauris eu risus') Aliquam
              ul
                li
                  a(href='#nowhere', title='Pellentesque fermentum dolor') Pellentesque
                li
                  a(href='#nowhere', title='Aliquam tincidunt mauris eu risus') Aliquam
                li
                  a.disabled(href='#nowhere', title='Lorum ipsum dolor sit amet') Lorem
                li
                  a(href='#nowhere', title='Morbi in sem quis dui placerat ornare') Morbi
            li.one.small-tablet.fourth
              a.disabled(href='#nowhere', title='Praesent dapibus, neque id cursus faucibus') Praesent
            li.one.small-tablet.fourth
              a(href='#nowhere', title='Morbi in sem quis dui placerat ornare') Morbi
        hr
        h4.AverageSans Horizontal "Hamburger" Grid Navigation (menu + grid)
        nav.small-tablet.menu
          ul.row
            li.one.small-tablet.fourth
              a(href='#nowhere', title='Lorum ipsum dolor sit amet') Lorem
            li.menu.one.small-tablet.fourth
              a(href='#nowhere', title='Aliquam tincidunt mauris eu risus') Aliquam
              ul
                li
                  a(href='#nowhere', title='Pellentesque fermentum dolor') Pellentesque
                li
                  a(href='#nowhere', title='Aliquam tincidunt mauris eu risus') Aliquam
                li
                  a.disabled(href='#nowhere', title='Lorum ipsum dolor sit amet') Lorem
                li
                  a(href='#nowhere', title='Morbi in sem quis dui placerat ornare') Morbi
            li.one.small-tablet.fourth
              a.disabled(href='#nowhere', title='Praesent dapibus, neque id cursus faucibus') Praesent
            li.one.small-tablet.fourth
              a(href='#nowhere', title='Morbi in sem quis dui placerat ornare') Morbi
        hr
        h4.AverageSans Horizontal Navigation (inline)
        nav.inline
          ul
            li
              a(href='#nowhere', title='Lorum ipsum dolor sit amet') Lorem
            li
              a.disabled(href='#nowhere', title='Aliquam tincidunt mauris eu risus') Aliquam
            li.menu
              a(href='#nowhere', title='Praesent dapibus, neque id cursus faucibus') Praesent
              ul
                li
                  a(href='#nowhere', title='Pellentesque fermentum dolor') Pellentesque
                li
                  a(href='#nowhere', title='Aliquam tincidunt mauris eu risus') Aliquam
                li
                  a.disabled(href='#nowhere', title='Lorum ipsum dolor sit amet') Lorem
                li
                  a(href='#nowhere', title='Morbi in sem quis dui placerat ornare') Morbi
            li
              a(href='#nowhere', title='Morbi in sem quis dui placerat ornare') Morbi
        hr
        h4.AverageSans Horizontal "Hamburger" Navigation (inline + menu)
        nav.inline.menu
          ul
            li
              a(href='#nowhere', title='Lorum ipsum dolor sit amet') Lorem
            li
              a.disabled(href='#nowhere', title='Aliquam tincidunt mauris eu risus') Aliquam
            li.menu
              a(href='#nowhere', title='Praesent dapibus, neque id cursus faucibus') Praesent
              ul
                li
                  a(href='#nowhere', title='Pellentesque fermentum dolor') Pellentesque
                li
                  a(href='#nowhere', title='Aliquam tincidunt mauris eu risus') Aliquam
                li
                  a.disabled(href='#nowhere', title='Lorum ipsum dolor sit amet') Lorem
                li
                  a(href='#nowhere', title='Morbi in sem quis dui placerat ornare') Morbi
            li
              a(href='#nowhere', title='Morbi in sem quis dui placerat ornare') Morbi
        hr
        h4.AverageSans Vertical Navigation
        p
        nav
          ul
            li
              a(href='#nowhere', title='Lorum ipsum dolor sit amet') Lorem
            li
              a.disabled(href='#nowhere', title='Aliquam tincidunt mauris eu risus') Aliquam
            li
              a(href='#nowhere', title='Morbi in sem quis dui placerat ornare') Morbi
            li.menu
              a(href='#nowhere', title='Praesent dapibus, neque id cursus faucibus') Praesent
              ul
                li
                  a(href='#nowhere', title='Pellentesque fermentum dolor') Pellentesque
                li
                  a(href='#nowhere', title='Aliquam tincidunt mauris eu risus') Aliquam
                li
                  a.disabled(href='#nowhere', title='Lorum ipsum dolor sit amet') Lorem
                li
                  a(href='#nowhere', title='Morbi in sem quis dui placerat ornare') Morbi
            li
              a(href='#nowhere', title='Pellentesque fermentum dolor') Pellentesque
        hr
        h4.AverageSans Vertical "Hamburger" Navigation (menu)
        p
        nav.menu
          ul
            li
              a(href='#nowhere', title='Lorum ipsum dolor sit amet') Lorem
            li
              a.disabled(href='#nowhere', title='Aliquam tincidunt mauris eu risus') Aliquam
            li
              a(href='#nowhere', title='Morbi in sem quis dui placerat ornare') Morbi
            li.menu
              a(href='#nowhere', title='Praesent dapibus, neque id cursus faucibus') Praesent
              ul
                li
                  a(href='#nowhere', title='Pellentesque fermentum dolor') Pellentesque
                li
                  a(href='#nowhere', title='Aliquam tincidunt mauris eu risus') Aliquam
                li
                  a.disabled(href='#nowhere', title='Lorum ipsum dolor sit amet') Lorem
                li
                  a(href='#nowhere', title='Morbi in sem quis dui placerat ornare') Morbi
            li
              a(href='#nowhere', title='Pellentesque fermentum dolor') Pellentesque
        hr
        h4.AverageSans Dropdown Button
        .dropdown
          button.button
            | Dropdown Menu Button
          ul
            li
              a(href='#')
                i.icon-home
                |  Example Menu Item 1
            li
              a.disabled(href='#')
                i.icon-envelope-alt
                |  Example Menu Item 2
            li
              hr
            li
              a(href='#')
                i.icon-heart
                |  Seperated Menu Item
        hr
        h4.AverageSans Responsive Pagination
        p
        nav.pagination.align-center
          ul
            | <li class="prev"><a href="#">&laquo;</a></li
            | ><li class="first"><a href="#">1</a></li
            | ><li><a href="#">2</a></li
            | ><li><a href="#">3</a></li
            | ><li><a href="#">4</a></li
            | ><li><a href="#">5</a></li
            | ><li><a href="#">6</a></li
            | ><li><a href="#">7</a></li
            | ><li><a href="#">8</a></li
            | ><li><a href="#">9</a></li
            | ><li><a href="#">10</a></li
            | ><li><a href="#">11</a></li
            | ><li><a href="#">12</a></li
            | ><li><a href="#">13</a></li
            | ><li><a href="#">14</a></li
            | ><li><a href="#">15</a></li
            | ><li><a href="#">16</a></li
            | ><li><a href="#">17</a></li
            | ><li><a href="#">18</a></li
            | ><li class="active"><a href="#">19</a></li
            | ><li><a href="#">20</a></li
            | ><li><a href="#">21</a></li
            | ><li><a href="#">22</a></li
            | ><li><a href="#">23</a></li
            | ><li><a href="#">24</a></li
            | ><li><a href="#">25</a></li
            | ><li><a href="#">26</a></li
            | ><li><a href="#">27</a></li
            | ><li><a href="#">28</a></li
            | ><li><a href="#">29</a></li
            | ><li><a href="#">30</a></li
            | ><li><a href="#">31</a></li
            | ><li><a href="#">32</a></li
            | ><li><a href="#">33</a></li
            | ><li><a href="#">34</a></li
            | ><li><a href="#">35</a></li
            | ><li><a href="#">36</a></li
            | ><li><a href="#">37</a></li
            | ><li><a href="#">38</a></li
            | ><li class="last"><a href="#">39</a></li
            | ><li class="next"><a href="#">&raquo;</a></li>
        hr
        br
        h2.AmericanTypewriter Tabs
        .tabs
          ul
            li
              a.active(href='#content-1') Tab 1
            li
              a(href='#content-2') Tab 2
            li
              a(href='#content-3') Tab 3
            li
              a.disabled(href='#content-4', tabindex='-1') Disabled Tab
            li.pull-right
              a(href='#content-6') Right 2
            li.pull-right
              a(href='#content-5') Right 1
          #content-1.active
            h1 Tab 1
            p
              | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
          #content-2
            h1 Tab 2
            ul
              li
                | Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.
              li
                | Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.
              li
                | Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.
              li
                | Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.
          #content-3
            h1 Tab 3
            dl
              dt Definition list
              dd
                | Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              dt Lorem ipsum dolor sit amet
              dd
                | Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          #content-4
            h1 Tab 4
            p
              | You should not be able to get to this content, because the tabs has been disabled.
          #content-5
            h1 Tab 5
            h3 The tab for this content is aligned to the right.
            ul
              li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
              li Aliquam tincidunt mauris eu risus.
              li Vestibulum auctor dapibus neque.
          #content-6
            h1 Tab 6
            h3 The tab for this content is aligned to the right as well.
            ul
              li
                | Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.
              li
                | Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.
              li
                | Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.
              li
                | Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.
        hr
        br
        h2.AmericanTypewriter UI Components
        .row
          .one.half.pad-right.no-pad-small-tablet
            h4.AverageSans Message Boxes &amp; Callouts
            p.message This is an important message.
            p.info.message This is an info message.
            p.success.message This is a success message.
            p.alert.message This is an alert message.
            p.warning.message This is a warning message.
            p.error.message This is an error message.
            .callout
              h4 This is a normal callout box
              p Use these to contain or call attention to special content.
            .info.callout
              h4 This is an info callout box
              p Use these to contain or call attention to special content.
            .success.callout
              h4 This is a success callout box
              p Use these to communicate multi-element success messages as a block.
            .alert.callout
              h4 This is an alert callout box
              p Use these to contain or call attention to special content.
            .warning.callout
              h4 This is a warning callout box
              p Use these to contain or call attention to special content.
            .error.callout
              h4 This is an error callout box
              p Use these to contain or call attention to special content.
          .one.half
            h4.AverageSans Disabled States
            p.message.disabled This is an important message.
            p.info.message.disabled This is an info message.
            p.success.message.disabled This is a success message.
            p.alert.message.disabled This is an alert message.
            p.warning.message.disabled This is a warning message.
            p.error.message.disabled This is an error message.
            .callout.disabled
              h4 This is a normal callout box
              p Use these to contain or call attention to special content.
            .info.callout.disabled
              h4 This is an info callout box
              p Use these to contain or call attention to special content.
            .success.callout.disabled
              h4 This is a success callout box
              p Use these to communicate multi-element success messages as a block.
            .alert.callout.disabled
              h4 This is an alert callout box
              p Use these to contain or call attention to special content.
            .warning.callout.disabled
              h4 This is a warning callout box
              p Use these to contain or call attention to special content.
            .error.callout.disabled
              h4 This is an error callout box
              p Use these to contain or call attention to special content.
        .row
          .one.half.pad-right.no-pad-small-tablet
            h4.AverageSans Square
            p.message.square This is an important message.
            p.info.message.square This is an info message.
            p.success.message.square This is a success message.
            p.alert.message.square This is an alert message.
            p.warning.message.square This is a warning message.
            p.error.message.square This is an error message.
            .callout.square
              h4 This is a normal callout box
              p Use these to contain or call attention to special content.
            .info.callout.square
              h4 This is an info callout box
              p Use these to contain or call attention to special content.
            .success.callout.square
              h4 This is a success callout box
              p Use these to communicate multi-element success messages as a block.
            .alert.callout.square
              h4 This is an alert callout box
              p Use these to contain or call attention to special content.
            .warning.callout.square
              h4 This is a warning callout box
              p Use these to contain or call attention to special content.
            .error.callout.square
              h4 This is an error callout box
              p Use these to contain or call attention to special content.
          .one.half.pad-right.no-pad-small-tablet
            h4.AverageSans Round
            p.message.round This is an important message.
            p.info.message.round This is an info message.
            p.success.message.round This is a success message.
            p.alert.message.round This is an alert message.
            p.warning.message.round This is a warning message.
            p.error.message.round This is an error message.
            .callout.round
              h4 This is a normal callout box
              p Use these to contain or call attention to special content.
            .info.callout.round
              h4 This is an info callout box
              p Use these to contain or call attention to special content.
            .success.callout.round
              h4 This is a success callout box
              p Use these to communicate multi-element success messages as a block.
            .alert.callout.round
              h4 This is an alert callout box
              p Use these to contain or call attention to special content.
            .warning.callout.round
              h4 This is a warning callout box
              p Use these to contain or call attention to special content.
            .error.callout.round
              h4 This is an error callout box
              p Use these to contain or call attention to special content.
        hr
        br
        h2.AmericanTypewriter Tables
        .row
          .one.whole.padded
            table.responsive.tooltip(title='responsive data table')
              thead
                tr
                  th Table Heading
                  th Table Heading
                  th Table Heading
                  th Table Heading
              tbody
                tr
                  td Table cell
                  td Table cell
                  td Table cell
                  td Table cell
                tr
                  td Table cell
                  td Table cell
                  td Table cell
                  td Table cell
                tr
                  td Table cell
                  td Table cell
                  td Table cell
                  td Table cell
                tr
                  td Table cell
                  td Table cell
                  td Table cell
                  td Table cell
              tfoot
                tr
                  td Footer cell
                  td Footer cell
                  td Footer cell
                  td Footer cell
        .row
          .one.whole.padded
            table.responsive.tooltip(title='responsive data table')
              thead
                tr
                  th(data-width='40%') Table Heading
                  th(data-width='20%') Table Heading
                  th(data-width='20%') Table Heading
                  th(data-width='20%') Table Heading
              tbody
                tr
                  td(data-width='40%') Table cell
                  td(data-width='20%') Table cell
                  td(data-width='20%') Table cell
                  td(data-width='20%') Table cell
                tr
                  td(data-width='40%') Table cell
                  td(data-width='20%') Table cell
                  td(data-width='20%') Table cell
                  td(data-width='20%') Table cell
                tr
                  td(data-width='40%') Table cell
                  td(data-width='20%') Table cell
                  td(data-width='20%') Table cell
                  td(data-width='20%') Table cell
                tr
                  td(data-width='40%') Table cell
                  td(data-width='20%') Table cell
                  td(data-width='20%') Table cell
                  td(data-width='20%') Table cell
              tfoot
                tr
                  td(data-width='40%') Table cell
                  td(data-width='20%') Table cell
                  td(data-width='20%') Table cell
                  td(data-width='20%') Table cell
        .row
          .one.third.padded
            table.responsive.yellow.tooltip(title='yellow')
              thead
                tr
                  th Table Heading
              tbody
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
              tfoot
                tr
                  td Footer cell
          .one.third.padded
            table.responsive.orange.tooltip(title='orange')
              thead
                tr
                  th Table Heading
              tbody
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
              tfoot
                tr
                  td Footer cell
          .one.third.padded
            table.responsive.red.tooltip(title='red')
              thead
                tr
                  th Table Heading
              tbody
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
              tfoot
                tr
                  td Footer cell
        .row
          .one.third.padded
            table.responsive.pink.tooltip(title='pink')
              thead
                tr
                  th Table Heading
              tbody
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
              tfoot
                tr
                  td Footer cell
          .one.third.padded
            table.responsive.purple.tooltip(title='purple')
              thead
                tr
                  th Table Heading
              tbody
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
              tfoot
                tr
                  td Footer cell
          .one.third.padded
            table.responsive.asphalt.tooltip(title='asphalt')
              thead
                tr
                  th Table Heading
              tbody
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
              tfoot
                tr
                  td Footer cell
        .row
          .one.third.padded
            table.responsive.blue.tooltip(title='blue')
              thead
                tr
                  th Table Heading
              tbody
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
              tfoot
                tr
                  td Footer cell
          .one.third.padded
            table.responsive.turquoise.tooltip(title='turquoise')
              thead
                tr
                  th Table Heading
              tbody
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
              tfoot
                tr
                  td Footer cell
          .one.third.padded
            table.responsive.green.tooltip(title='green')
              thead
                tr
                  th Table Heading
              tbody
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
                tr
                  td Table cell
              tfoot
                tr
                  td Footer cell
        hr
        br
        h2.AmericanTypewriter Social Icons
        h6.small Large Icons
        a.social-icon.behance.large.tooltip(href='#', title='.social-icon.behance.large') Behance
        |  
        a.social-icon.creativecloud.large.tooltip(href='#', title='.social-icon.creativecloud.large') Creative Cloud
        |  
        a.social-icon.dribbble.large.tooltip(href='#', title='.social-icon.dribbble.large') Dribbble
        |  
        a.social-icon.dropbox.large.tooltip(href='#', title='.social-icon.dropbox.large') Dropbox
        |  
        a.social-icon.evernote.large.tooltip(href='#', title='.social-icon.evernote.large') Evernote
        |  
        a.social-icon.facebook.large.tooltip(href='#', title='.social-icon.facebook.large') Facebook
        |  
        a.social-icon.flickr.large.tooltip(href='#', title='.social-icon.flickr.large') Flickr
        |  
        a.social-icon.github.large.tooltip(href='#', title='.social-icon.github.large') Github
        |  
        a.social-icon.googleplus.large.tooltip(href='#', title='.social-icon.googleplus.large') GooglePlus
        |  
        a.social-icon.icloud.large.tooltip(href='#', title='.social-icon.icloud.large') iCloud
        |  
        a.social-icon.linkedin.large.tooltip(href='#', title='.social-icon.linkedin.large') LinkedIn
        |  
        a.social-icon.mail.large.tooltip(href='#', title='.social-icon.mail.large') Mail
        |  
        a.social-icon.msn.large.tooltip(href='#', title='.social-icon.msn.large') MSN
        |  
        a.social-icon.pinterest.large.tooltip(href='#', title='.social-icon.pinterest.large') Pinterest
        |  
        a.social-icon.rdio.large.tooltip(href='#', title='.social-icon.rdio.large') Rdio
        |  
        a.social-icon.rss.large.tooltip(href='#', title='.social-icon.rss.large') RSS
        |  
        a.social-icon.skitch.large.tooltip(href='#', title='.social-icon.skitch.large') Skitch
        |  
        a.social-icon.skype.large.tooltip(href='#', title='.social-icon.skype.large') Skype
        |  
        a.social-icon.spotify.large.tooltip(href='#', title='.social-icon.spotify.large') Spotify
        |  
        a.social-icon.stumbleupon.large.tooltip(href='#', title='.social-icon.stumbleupon.large') StumbleUpon!
        |  
        a.social-icon.twitter.large.tooltip(href='#', title='.social-icon.twitter.large') Twitter
        |  
        a.social-icon.vimeo.large.tooltip(href='#', title='.social-icon.vimeo.large') Vimeo
        |  
        a.social-icon.youtube.large.tooltip(href='#', title='.social-icon.youtube.large') YouTube
        |  
        a.social-icon.youversion.large.tooltip(href='#', title='.social-icon.youversion.large') YouVersion
        |  
        a.social-icon.zerply.large.tooltip(href='#', title='.social-icon.zerply.large') Zerply
        |  
        a.social-icon.pocket.large.tooltip(href='#', title='.social-icon.pocket.large') Pocket App
        hr
        h6.small Medium Icons
        a.social-icon.behance.medium.tooltip(href='#', title='.social-icon.behance.medium') Behance
        |  
        a.social-icon.creativecloud.medium.tooltip(href='#', title='.social-icon.creativecloud.medium') Creative Cloud
        |  
        a.social-icon.dribbble.medium.tooltip(href='#', title='.social-icon.dribbble.medium') Dribbble
        |  
        a.social-icon.dropbox.medium.tooltip(href='#', title='.social-icon.dropbox.medium') Dropbox
        |  
        a.social-icon.evernote.medium.tooltip(href='#', title='.social-icon.evernote.medium') Evernote
        |  
        a.social-icon.facebook.medium.tooltip(href='#', title='.social-icon.facebook.medium') Facebook
        |  
        a.social-icon.flickr.medium.tooltip(href='#', title='.social-icon.flickr.medium') Flickr
        |  
        a.social-icon.github.medium.tooltip(href='#', title='.social-icon.github.medium') Github
        |  
        a.social-icon.googleplus.medium.tooltip(href='#', title='.social-icon.googleplus.medium') GooglePlus
        |  
        a.social-icon.icloud.medium.tooltip(href='#', title='.social-icon.icloud.medium') iCloud
        |  
        a.social-icon.linkedin.medium.tooltip(href='#', title='.social-icon.linkedin.medium') LinkedIn
        |  
        a.social-icon.mail.medium.tooltip(href='#', title='.social-icon.mail.medium') Mail
        |  
        a.social-icon.msn.medium.tooltip(href='#', title='.social-icon.msn.medium') MSN
        |  
        a.social-icon.pinterest.medium.tooltip(href='#', title='.social-icon.pinterest.medium') Pinterest
        |  
        a.social-icon.rdio.medium.tooltip(href='#', title='.social-icon.rdio.medium') Rdio
        |  
        a.social-icon.rss.medium.tooltip(href='#', title='.social-icon.rss.medium') RSS
        |  
        a.social-icon.skitch.medium.tooltip(href='#', title='.social-icon.skitch.medium') Skitch
        |  
        a.social-icon.skype.medium.tooltip(href='#', title='.social-icon.skype.medium') Skype
        |  
        a.social-icon.spotify.medium.tooltip(href='#', title='.social-icon.spotify.medium') Spotify
        |  
        a.social-icon.stumbleupon.medium.tooltip(href='#', title='.social-icon.stumbleupon.medium') StumbleUpon!
        |  
        a.social-icon.twitter.medium.tooltip(href='#', title='.social-icon.twitter.medium') Twitter
        |  
        a.social-icon.vimeo.medium.tooltip(href='#', title='.social-icon.vimeo.medium') Vimeo
        |  
        a.social-icon.youtube.medium.tooltip(href='#', title='.social-icon.youtube.medium') YouTube
        |  
        a.social-icon.youversion.medium.tooltip(href='#', title='.social-icon.youversion.medium') YouVersion
        |  
        a.social-icon.zerply.medium.tooltip(href='#', title='.social-icon.zerply.medium') Zerply
        |  
        a.social-icon.pocket.medium.tooltip(href='#', title='.social-icon.pocket.medium') Pocket App
        hr
        h6.small Small Icons
        a.social-icon.behance.small.tooltip(href='#', title='.social-icon.behance.small') Behance
        |  
        a.social-icon.creativecloud.small.tooltip(href='#', title='.social-icon.creativecloud.small') Creative Cloud
        |  
        a.social-icon.dribbble.small.tooltip(href='#', title='.social-icon.dribbble.small') Dribbble
        |  
        a.social-icon.dropbox.small.tooltip(href='#', title='.social-icon.dropbox.small') Dropbox
        |  
        a.social-icon.evernote.small.tooltip(href='#', title='.social-icon.evernote.small') Evernote
        |  
        a.social-icon.facebook.small.tooltip(href='#', title='.social-icon.facebook.small') Facebook
        |  
        a.social-icon.flickr.small.tooltip(href='#', title='.social-icon.flickr.small') Flickr
        |  
        a.social-icon.github.small.tooltip(href='#', title='.social-icon.github.small') Github
        |  
        a.social-icon.googleplus.small.tooltip(href='#', title='.social-icon.googleplus.small') GooglePlus
        |  
        a.social-icon.icloud.small.tooltip(href='#', title='.social-icon.icloud.small') iCloud
        |  
        a.social-icon.linkedin.small.tooltip(href='#', title='.social-icon.linkedin.small') LinkedIn
        |  
        a.social-icon.mail.small.tooltip(href='#', title='.social-icon.mail.small') Mail
        |  
        a.social-icon.msn.small.tooltip(href='#', title='.social-icon.msn.small') MSN
        |  
        a.social-icon.pinterest.small.tooltip(href='#', title='.social-icon.pinterest.small') Pinterest
        |  
        a.social-icon.rdio.small.tooltip(href='#', title='.social-icon.rdio.small') Rdio
        |  
        a.social-icon.rss.small.tooltip(href='#', title='.social-icon.rss.small') RSS
        |  
        a.social-icon.skitch.small.tooltip(href='#', title='.social-icon.skitch.small') Skitch
        |  
        a.social-icon.skype.small.tooltip(href='#', title='.social-icon.skype.small') Skype
        |  
        a.social-icon.spotify.small.tooltip(href='#', title='.social-icon.spotify.small') Spotify
        |  
        a.social-icon.stumbleupon.small.tooltip(href='#', title='.social-icon.stumbleupon.small') StumbleUpon!
        |  
        a.social-icon.twitter.small.tooltip(href='#', title='.social-icon.twitter.small') Twitter
        |  
        a.social-icon.vimeo.small.tooltip(href='#', title='.social-icon.vimeo.small') Vimeo
        |  
        a.social-icon.youtube.small.tooltip(href='#', title='.social-icon.youtube.small') YouTube
        |  
        a.social-icon.youversion.small.tooltip(href='#', title='.social-icon.youversion.small') YouVersion
        |  
        a.social-icon.zerply.small.tooltip(href='#', title='.social-icon.zerply.small') Zerply
        |  
        a.social-icon.pocket.small.tooltip(href='#', title='.social-icon.pocket.small') Pocket App
        hr
        h6.small Round Icons
        a.social-icon.twitter.round.small.tooltip(href='#', title='.social-icon.twitter.round.small') Twitter
        |  
        a.social-icon.twitter.round.medium.tooltip(href='#', title='.social-icon.twitter.round.medium') Twitter
        |  
        a.social-icon.twitter.round.large.tooltip(href='#', title='.social-icon.twitter.round.large') Twitter
        hr
        h6.small Disabled States
        a.social-icon.twitter.disabled.small.tooltip(href='#', title='.social-icon.twitter.disabled.small') Twitter
        |  
        a.social-icon.twitter.disabled.medium.tooltip(href='#', title='.social-icon.twitter.disabled.medium') Twitter
        |  
        a.social-icon.twitter.disabled.large.tooltip(href='#', title='.social-icon.twitter.disabled.large') Twitter
        hr
        h6.small Inline Social Icons (relative sizing)
        .row
          .one.whole
            h1
              span.social-icon.twitter.tooltip(title='.twitter.social-icon')
              |  Example of avatar embedded in a level 1 heading
            h2
              span.social-icon.twitter.tooltip(title='.twitter.social-icon')
              |  Example of avatar embedded in a level 2 heading
            h3
              span.social-icon.twitter.tooltip(title='.twitter.social-icon')
              |  Example of avatar embedded in a level 3 heading
            h4
              span.social-icon.twitter.tooltip(title='.twitter.social-icon')
              |  Example of avatar embedded in a level 4 heading
            h5
              span.social-icon.twitter.tooltip(title='.twitter.social-icon')
              |  Example of avatar embedded in a level 5 heading
            h6
              span.social-icon.twitter.tooltip(title='.twitter.social-icon')
              |  Example of avatar embedded in a level 6 heading
            p
              span.social-icon.twitter.tooltip(title='.twitter.social-icon')
              |  Example of avatar embedded in a paragraph
        hr
        br
        h2.AmericanTypewriter Icons
        style(type='text/css')
          #icons-web-app ul,
          #icons-text-editor ul,
          #icons-directional ul,
          #icons-video-player ul,
          #icons-social ul,
          #icons-medical ul { list-style:none; }
          #icons-web-app ul i,
          #icons-text-editor ul i,
          #icons-directional ul i,
          #icons-video-player ul i,
          #icons-social ul i,
          #icons-medical ul i { font-size:2em; margin-right:0.5em; }
        section#icons-web-app.row.icons
          .one.whole
            h6 Web Application Icons
          .one.mobile.half
            .row
              .one.small-tablet.half
                ul
                  li
                    i.icon-adjust
                    |  icon-adjust
                  li
                    i.icon-asterisk
                    |  icon-asterisk
                  li
                    i.icon-ban-circle
                    |  icon-ban-circle
                  li
                    i.icon-bar-chart
                    |  icon-bar-chart
                  li
                    i.icon-barcode
                    |  icon-barcode
                  li
                    i.icon-beaker
                    |  icon-beaker
                  li
                    i.icon-beer
                    |  icon-beer
                  li
                    i.icon-bell
                    |  icon-bell
                  li
                    i.icon-bell-alt
                    |  icon-bell-alt
                  li
                    i.icon-bolt
                    |  icon-bolt
                  li
                    i.icon-book
                    |  icon-book
                  li
                    i.icon-bookmark
                    |  icon-bookmark
                  li
                    i.icon-bookmark-empty
                    |  icon-bookmark-empty
                  li
                    i.icon-briefcase
                    |  icon-briefcase
                  li
                    i.icon-bullhorn
                    |  icon-bullhorn
                  li
                    i.icon-calendar
                    |  icon-calendar
                  li
                    i.icon-camera
                    |  icon-camera
                  li
                    i.icon-camera-retro
                    |  icon-camera-retro
                  li
                    i.icon-certificate
                    |  icon-certificate
                  li
                    i.icon-check
                    |  icon-check
                  li
                    i.icon-check-empty
                    |  icon-check-empty
                  li
                    i.icon-circle
                    |  icon-circle
                  li
                    i.icon-circle-blank
                    |  icon-circle-blank
                  li
                    i.icon-cloud
                    |  icon-cloud
                  li
                    i.icon-cloud-download
                    |  icon-cloud-download
                  li
                    i.icon-cloud-upload
                    |  icon-cloud-upload
                  li
                    i.icon-coffee
                    |  icon-coffee
                  li
                    i.icon-cog
                    |  icon-cog
                  li
                    i.icon-cogs
                    |  icon-cogs
                  li
                    i.icon-comment
                    |  icon-comment
                  li
                    i.icon-comment-alt
                    |  icon-comment-alt
                  li
                    i.icon-comments
                    |  icon-comments
                  li
                    i.icon-comments-alt
                    |  icon-comments-alt
                  li
                    i.icon-credit-card
                    |  icon-credit-card
                  li
                    i.icon-dashboard
                    |  icon-dashboard
                  li
                    i.icon-desktop
                    |  icon-desktop
                  li
                    i.icon-download
                    |  icon-download
                  li
                    i.icon-download-alt
                    |  icon-download-alt
              .one.small-tablet.half
                ul
                  li
                    i.icon-edit
                    |  icon-edit
                  li
                    i.icon-envelope
                    |  icon-envelope
                  li
                    i.icon-envelope-alt
                    |  icon-envelope-alt
                  li
                    i.icon-exchange
                    |  icon-exchange
                  li
                    i.icon-exclamation-sign
                    |  icon-exclamation-sign
                  li
                    i.icon-external-link
                    |  icon-external-link
                  li
                    i.icon-eye-close
                    |  icon-eye-close
                  li
                    i.icon-eye-open
                    |  icon-eye-open
                  li
                    i.icon-facetime-video
                    |  icon-facetime-video
                  li
                    i.icon-fighter-jet
                    |  icon-fighter-jet
                  li
                    i.icon-film
                    |  icon-film
                  li
                    i.icon-filter
                    |  icon-filter
                  li
                    i.icon-fire
                    |  icon-fire
                  li
                    i.icon-flag
                    |  icon-flag
                  li
                    i.icon-folder-close
                    |  icon-folder-close
                  li
                    i.icon-folder-open
                    |  icon-folder-open
                  li
                    i.icon-folder-close-alt
                    |  icon-folder-close-alt
                  li
                    i.icon-folder-open-alt
                    |  icon-folder-open-alt
                  li
                    i.icon-food
                    |  icon-food
                  li
                    i.icon-gift
                    |  icon-gift
                  li
                    i.icon-glass
                    |  icon-glass
                  li
                    i.icon-globe
                    |  icon-globe
                  li
                    i.icon-group
                    |  icon-group
                  li
                    i.icon-hdd
                    |  icon-hdd
                  li
                    i.icon-headphones
                    |  icon-headphones
                  li
                    i.icon-heart
                    |  icon-heart
                  li
                    i.icon-heart-empty
                    |  icon-heart-empty
                  li
                    i.icon-home
                    |  icon-home
                  li
                    i.icon-inbox
                    |  icon-inbox
                  li
                    i.icon-info-sign
                    |  icon-info-sign
                  li
                    i.icon-key
                    |  icon-key
                  li
                    i.icon-leaf
                    |  icon-leaf
                  li
                    i.icon-laptop
                    |  icon-laptop
                  li
                    i.icon-legal
                    |  icon-legal
                  li
                    i.icon-lemon
                    |  icon-lemon
                  li
                    i.icon-lightbulb
                    |  icon-lightbulb
                  li
                    i.icon-lock
                    |  icon-lock
                  li
                    i.icon-unlock
                    |  icon-unlock
          .one.mobile.half
            .row
              .one.small-tablet.half
                ul
                  li
                    i.icon-magic
                    |  icon-magic
                  li
                    i.icon-magnet
                    |  icon-magnet
                  li
                    i.icon-map-marker
                    |  icon-map-marker
                  li
                    i.icon-minus
                    |  icon-minus
                  li
                    i.icon-minus-sign
                    |  icon-minus-sign
                  li
                    i.icon-mobile-phone
                    |  icon-mobile-phone
                  li
                    i.icon-money
                    |  icon-money
                  li
                    i.icon-move
                    |  icon-move
                  li
                    i.icon-music
                    |  icon-music
                  li
                    i.icon-off
                    |  icon-off
                  li
                    i.icon-ok
                    |  icon-ok
                  li
                    i.icon-ok-circle
                    |  icon-ok-circle
                  li
                    i.icon-ok-sign
                    |  icon-ok-sign
                  li
                    i.icon-pencil
                    |  icon-pencil
                  li
                    i.icon-picture
                    |  icon-picture
                  li
                    i.icon-plane
                    |  icon-plane
                  li
                    i.icon-plus
                    |  icon-plus
                  li
                    i.icon-plus-sign
                    |  icon-plus-sign
                  li
                    i.icon-print
                    |  icon-print
                  li
                    i.icon-pushpin
                    |  icon-pushpin
                  li
                    i.icon-qrcode
                    |  icon-qrcode
                  li
                    i.icon-question-sign
                    |  icon-question-sign
                  li
                    i.icon-quote-left
                    |  icon-quote-left
                  li
                    i.icon-quote-right
                    |  icon-quote-right
                  li
                    i.icon-random
                    |  icon-random
                  li
                    i.icon-refresh
                    |  icon-refresh
                  li
                    i.icon-remove
                    |  icon-remove
                  li
                    i.icon-remove-circle
                    |  icon-remove-circle
                  li
                    i.icon-remove-sign
                    |  icon-remove-sign
                  li
                    i.icon-reorder
                    |  icon-reorder
                  li
                    i.icon-reply
                    |  icon-reply
                  li
                    i.icon-resize-horizontal
                    |  icon-resize-horizontal
                  li
                    i.icon-resize-vertical
                    |  icon-resize-vertical
                  li
                    i.icon-retweet
                    |  icon-retweet
                  li
                    i.icon-road
                    |  icon-road
                  li
                    i.icon-rss
                    |  icon-rss
                  li
                    i.icon-screenshot
                    |  icon-screenshot
                  li
                    i.icon-search
                    |  icon-search
              .one.small-tablet.half
                ul
                  li
                    i.icon-share
                    |  icon-share
                  li
                    i.icon-share-alt
                    |  icon-share-alt
                  li
                    i.icon-shopping-cart
                    |  icon-shopping-cart
                  li
                    i.icon-signal
                    |  icon-signal
                  li
                    i.icon-signin
                    |  icon-signin
                  li
                    i.icon-signout
                    |  icon-signout
                  li
                    i.icon-sitemap
                    |  icon-sitemap
                  li
                    i.icon-sort
                    |  icon-sort
                  li
                    i.icon-sort-down
                    |  icon-sort-down
                  li
                    i.icon-sort-up
                    |  icon-sort-up
                  li
                    i.icon-spinner
                    |  icon-spinner
                  li
                    i.icon-star
                    |  icon-star
                  li
                    i.icon-star-empty
                    |  icon-star-empty
                  li
                    i.icon-star-half
                    |  icon-star-half
                  li
                    i.icon-tablet
                    |  icon-tablet
                  li
                    i.icon-tag
                    |  icon-tag
                  li
                    i.icon-tags
                    |  icon-tags
                  li
                    i.icon-tasks
                    |  icon-tasks
                  li
                    i.icon-thumbs-down
                    |  icon-thumbs-down
                  li
                    i.icon-thumbs-up
                    |  icon-thumbs-up
                  li
                    i.icon-time
                    |  icon-time
                  li
                    i.icon-tint
                    |  icon-tint
                  li
                    i.icon-trash
                    |  icon-trash
                  li
                    i.icon-trophy
                    |  icon-trophy
                  li
                    i.icon-truck
                    |  icon-truck
                  li
                    i.icon-umbrella
                    |  icon-umbrella
                  li
                    i.icon-upload
                    |  icon-upload
                  li
                    i.icon-upload-alt
                    |  icon-upload-alt
                  li
                    i.icon-user
                    |  icon-user
                  li
                    i.icon-user-md
                    |  icon-user-md
                  li
                    i.icon-volume-off
                    |  icon-volume-off
                  li
                    i.icon-volume-down
                    |  icon-volume-down
                  li
                    i.icon-volume-up
                    |  icon-volume-up
                  li
                    i.icon-warning-sign
                    |  icon-warning-sign
                  li
                    i.icon-wrench
                    |  icon-wrench
                  li
                    i.icon-zoom-in
                    |  icon-zoom-in
                  li
                    i.icon-zoom-out
                    |  icon-zoom-out
        section#icons-text-editor.row.icons
          .one.whole
            h6 Text Editor Icons
          .one.mobile.half
            .row
              .one.small-tablet.half
                ul
                  li
                    i.icon-file
                    |  icon-file
                  li
                    i.icon-file-alt
                    |  icon-file-alt
                  li
                    i.icon-cut
                    |  icon-cut
                  li
                    i.icon-copy
                    |  icon-copy
                  li
                    i.icon-paste
                    |  icon-paste
                  li
                    i.icon-save
                    |  icon-save
                  li
                    i.icon-undo
                    |  icon-undo
                  li
                    i.icon-repeat
                    |  icon-repeat
              .one.small-tablet.half
                ul
                  li
                    i.icon-text-height
                    |  icon-text-height
                  li
                    i.icon-text-width
                    |  icon-text-width
                  li
                    i.icon-align-left
                    |  icon-align-left
                  li
                    i.icon-align-center
                    |  icon-align-center
                  li
                    i.icon-align-right
                    |  icon-align-right
                  li
                    i.icon-align-justify
                    |  icon-align-justify
                  li
                    i.icon-indent-left
                    |  icon-indent-left
                  li
                    i.icon-indent-right
                    |  icon-indent-right
          .one.mobile.half
            .row
              .one.small-tablet.half
                ul
                  li
                    i.icon-font
                    |  icon-font
                  li
                    i.icon-bold
                    |  icon-bold
                  li
                    i.icon-italic
                    |  icon-italic
                  li
                    i.icon-strikethrough
                    |  icon-strikethrough
                  li
                    i.icon-underline
                    |  icon-underline
                  li
                    i.icon-link
                    |  icon-link
                  li
                    i.icon-paper-clip
                    |  icon-paper-clip
                  li
                    i.icon-columns
                    |  icon-columns
              .one.small-tablet.half
                ul
                  li
                    i.icon-table
                    |  icon-table
                  li
                    i.icon-th-large
                    |  icon-th-large
                  li
                    i.icon-th
                    |  icon-th
                  li
                    i.icon-th-list
                    |  icon-th-list
                  li
                    i.icon-list
                    |  icon-list
                  li
                    i.icon-list-ol
                    |  icon-list-ol
                  li
                    i.icon-list-ul
                    |  icon-list-ul
                  li
                    i.icon-list-alt
                    |  icon-list-alt
        section#icons-directional.row.icons
          .one.whole
            h6 Directional Icons
          .one.mobile.half
            .row
              .one.small-tablet.half
                ul
                  li
                    i.icon-angle-left
                    |  icon-angle-left
                  li
                    i.icon-angle-right
                    |  icon-angle-right
                  li
                    i.icon-angle-up
                    |  icon-angle-up
                  li
                    i.icon-angle-down
                    |  icon-angle-down
                  li
                    i.icon-arrow-down
                    |  icon-arrow-down
                  li
                    i.icon-arrow-left
                    |  icon-arrow-left
                  li
                    i.icon-arrow-right
                    |  icon-arrow-right
                  li
                    i.icon-arrow-up
                    |  icon-arrow-up
              .one.small-tablet.half
                ul
                  li
                    i.icon-caret-down
                    |  icon-caret-down
                  li
                    i.icon-caret-left
                    |  icon-caret-left
                  li
                    i.icon-caret-right
                    |  icon-caret-right
                  li
                    i.icon-caret-up
                    |  icon-caret-up
                  li
                    i.icon-chevron-down
                    |  icon-chevron-down
                  li
                    i.icon-chevron-left
                    |  icon-chevron-left
                  li
                    i.icon-chevron-right
                    |  icon-chevron-right
                  li
                    i.icon-chevron-up
                    |  icon-chevron-up
          .one.mobile.half
            .row
              .one.small-tablet.half
                ul
                  li
                    i.icon-circle-arrow-down
                    |  icon-circle-arrow-down
                  li
                    i.icon-circle-arrow-left
                    |  icon-circle-arrow-left
                  li
                    i.icon-circle-arrow-right
                    |  icon-circle-arrow-right
                  li
                    i.icon-circle-arrow-up
                    |  icon-circle-arrow-up
                  li
                    i.icon-double-angle-left
                    |  icon-double-angle-left
                  li
                    i.icon-double-angle-right
                    |  icon-double-angle-right
                  li
                    i.icon-double-angle-up
                    |  icon-double-angle-up
                  li
                    i.icon-double-angle-down
                    |  icon-double-angle-down
              .one.small-tablet.half
                ul
                  li
                    i.icon-hand-down
                    |  icon-hand-down
                  li
                    i.icon-hand-left
                    |  icon-hand-left
                  li
                    i.icon-hand-right
                    |  icon-hand-right
                  li
                    i.icon-hand-up
                    |  icon-hand-up
                  li
                    i.icon-circle
                    |  icon-circle
                  li
                    i.icon-circle-blank
                    |  icon-circle-blank
        section#icons-video-player.row.icons
          .one.whole
            h6 Video Player Icons
          .one.mobile.half
            .row
              .one.small-tablet.half
                ul
                  li
                    i.icon-play-circle
                    |  icon-play-circle
                  li
                    i.icon-play
                    |  icon-play
                  li
                    i.icon-pause
                    |  icon-pause
                  li
                    i.icon-stop
                    |  icon-stop
              .one.small-tablet.half
                ul
                  li
                    i.icon-step-backward
                    |  icon-step-backward
                  li
                    i.icon-fast-backward
                    |  icon-fast-backward
                  li
                    i.icon-backward
                    |  icon-backward
                  li
                    i.icon-forward
                    |  icon-forward
          .one.mobile.half
            .row
              .one.small-tablet.half
                ul
                  li
                    i.icon-fast-forward
                    |  icon-fast-forward
                  li
                    i.icon-step-forward
                    |  icon-step-forward
                  li
                    i.icon-eject
                    |  icon-eject
              .one.small-tablet.half
                ul
                  li
                    i.icon-fullscreen
                    |  icon-fullscreen
                  li
                    i.icon-resize-full
                    |  icon-resize-full
                  li
                    i.icon-resize-small
                    |  icon-resize-small
        section#icons-social.row.icons
          .one.whole
            h6 Social Icons
          .one.mobile.half
            .row
              .one.small-tablet.half
                ul
                  li
                    i.icon-phone
                    |  icon-phone
                  li
                    i.icon-phone-sign
                    |  icon-phone-sign
                  li
                    i.icon-facebook
                    |  icon-facebook
                  li
                    i.icon-facebook-sign
                    |  icon-facebook-sign
              .one.small-tablet.half
                ul
                  li
                    i.icon-twitter
                    |  icon-twitter
                  li
                    i.icon-twitter-sign
                    |  icon-twitter-sign
                  li
                    i.icon-github
                    |  icon-github
                  li
                    i.icon-github-alt
                    |  icon-github-alt
          .one.mobile.half
            .row
              .one.small-tablet.half
                ul
                  li
                    i.icon-github-sign
                    |  icon-github-sign
                  li
                    i.icon-linkedin
                    |  icon-linkedin
                  li
                    i.icon-linkedin-sign
                    |  icon-linkedin-sign
                  li
                    i.icon-pinterest
                    |  icon-pinterest
              .one.small-tablet.half
                ul
                  li
                    i.icon-pinterest-sign
                    |  icon-pinterest-sign
                  li
                    i.icon-google-plus
                    |  icon-google-plus
                  li
                    i.icon-google-plus-sign
                    |  icon-google-plus-sign
                  li
                    i.icon-sign-blank
                    |  icon-sign-blank
        section#icons-medical.row.icons
          .one.whole
            h6 Medical Icons
          .one.mobile.half
            .row
              .one.small-tablet.half
                ul
                  li
                    i.icon-ambulance
                    |  icon-ambulance
                  li
                    i.icon-beaker
                    |  icon-beaker
              .one.small-tablet.half
                ul
                  li
                    i.icon-h-sign
                    |  icon-h-sign
                  li
                    i.icon-hospital
                    |  icon-hospital
          .one.mobile.half
            .row
              .one.small-tablet.half
                ul
                  li
                    i.icon-medkit
                    |  icon-medkit
                  li
                    i.icon-plus-sign-alt
                    |  icon-plus-sign-alt
              .one.small-tablet.half
                ul
                  li
                    i.icon-stethoscope
                    |  icon-stethoscope
                  li
                    i.icon-user-md
                    |  icon-user-md
        hr
        br
        h2.AmericanTypewriter Responsive Headings
        h1.AverageSans.responsive(data-compression='8.4') Responsive Heading
        h1.AverageSans.responsive(data-compression='11.5', data-min='20', data-max='170') Longer Responsive Heading
        h1.AverageSans.responsive Scrolling Responsive Heading with Overflowing Text
        hr
        br
        h2.AmericanTypewriter Modals
        .row
          .one.third.small-tablet
            h4 Image:
            p
              a.image.modal.button.asphalt(href='http://placekitten.com/g/200/300', title='http://placekitten.com/g/200/300') Image
            h4 Image Gallery:
            p.modal.gallery
              a.button.yellow(href='http://placekitten.com/g/200/300', title='http://placekitten.com/g/200/300') 1
              |  
              a.button.orange(href='http://placekitten.com/g/250/350', title='http://placekitten.com/g/250/350') 2
              |  
              a.button.red(href='http://placekitten.com/g/300/300', title='http://placekitten.com/g/300/300') 3
              |  
              a.button.piink(href='http://placekitten.com/g/350/250', title='http://placekitten.com/g/350/250') 4
              |  
              a.button.purple(href='http://placekitten.com/g/300/200', title='http://placekitten.com/g/300/200') 5
          .one.third.small-tablet
            h4 Inline Content:
            p
              a.modal.button.green(href='#example-modal') Inline Content
            #example-modal.mfp-hide
              img.pull-right.gap-left.gap-bottom(src='http://placekitten.com/g/200/300', alt='')
              h1 HTML Ipsum Presents
              p
                strong Pellentesque habitant morbi tristique
                | senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                em Aenean ultricies mi vitae est.
                | Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
                a(href='#') Donec non enim
                | in turpis pulvinar facilisis. Ut felis.
              ol
                li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                li Aliquam tincidunt mauris eu risus.
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.
            p
              a.modal.button.blue(href='#subscribe') Inline Content (Form)
            #subscribe.mfp-hide
              form#subForm(action='http://groundworkcss.createsend.com/t/t/s/niuuy/', method='post')
                .row
                  .one.whole.padded
                    h4 Get notified when big things happen.
                    input#name(type='text', name='cm-name', tab-index='1', placeholder='First & Last Name')
                    br
                    input#niuuy-niuuy(type='text', name='cm-niuuy-niuuy', tab-index='2', placeholder='Email Address')
                    br
                    h3.pull-left
                      a.tooltip(href='http://github.com/groundworkcss', target='_blank', title='Follow @groundworkcss')
                        i.icon-github-alt
                      |  
                      a.tooltip(href='http://twitter.com/groundworkCSS/', target='_blank', title='Follow @GroundworkCSS')
                        i.icon-twitter
                      |  
                      a.tooltip(href='mailto:groundwork@sidereel.com', target='_blank', title='Email GroundworkCSS')
                        i.icon-envelope-alt
                    input.pull-right.blue(type='submit', value='Subscribe')
          .one.third.small-tablet
            h4 External Content (iframe):
            p
              a.modal.button.purple(href='http://placekitten.com/')
                | External Content  
                i.icon-external-link
            h4 YouTube Video (iframe):
            p
              a.modal.button.red(href='http://www.youtube.com/watch?v=eDO23-eLoGA')
                | YouTube Video  
                i.icon-play-circle
        hr
        br
        h2.AmericanTypewriter Tooltips
        .row
          .one.third.padded
            a.tooltip(href='#', title='This tooltip comes from the `title` attribute of this link') Show me a tooltip!
          .one.third.padded
            input.inline.tooltip(placeholder='Name', title='Enter your first & last name')
          .one.third.padded
            button.tooltip(title='This tooltip comes from the `title` attribute of this button') Show me a tooltip!
        p
          button.tooltip.info(title='This tooltip inherits the `info` styles of this button') Info tooltip
          |  
          button.tooltip.alert(title='This tooltip inherits the `alert` styles of this button') Alert tooltip
          |  
          button.tooltip.warning(title='This tooltip inherits the `warning` styles of this button') Warning tooltip
          |  
          button.tooltip.error(title='This tooltip inherits the `error` styles of this button') Error tooltip
          |  
          button.tooltip.success(title='This tooltip inherits the `success` styles of this button') Success tooltip
        p
          button.tooltip.yellow(title='This tooltip inherits the `yellow` styles of this button') Yellow tooltip
          |  
          button.tooltip.orange(title='This tooltip inherits the `orange` styles of this button') Orange tooltip
          |  
          button.tooltip.red(title='This tooltip inherits the `red` styles of this button') Red tooltip
          |  
          button.tooltip.pink(title='This tooltip inherits the `pink` styles of this button') Pink tooltip
          |  
          button.tooltip.purple(title='This tooltip inherits the `purple` styles of this button') Purple tooltip
          |  
          button.tooltip.asphalt(title='This tooltip inherits the `asphalt` styles of this button') Asphalt tooltip
          |  
          button.tooltip.blue(title='This tooltip inherits the `blue` styles of this button') Blue tooltip
          |  
          button.tooltip.turquoise(title='This tooltip inherits the `turquoise` styles of this button') Turquoise tooltip
          |  
          button.tooltip.green(title='This tooltip inherits the `green` styles of this button') Green tooltip

        hr
        br
        h2.AmericanTypewriter Cycle2 Slider
        h4.AverageSans Image Slideshow
        .cycle-slideshow(data-cycle-fx='scrollHorz', data-cycle-pause-on-hover='true')
          img(src='http://placehold.it/1200x400/24cada/ffffff/&text=Slide+1', alt='')
          img(src='http://placehold.it/1200x400/bada55/ffffff/&text=Slide+2', alt='')
          img(src='http://placehold.it/1200x400/c82647/ffffff/&text=Slide+3', alt='')
          img(src='http://placehold.it/1200x400/198d98/ffffff/&text=Slide+4', alt='')
        hr
        h4.AverageSans Non-image Slideshow
        .cycle-slideshow(data-cycle-slides='> div', data-cycle-timeout="2000", data-cycle-pause-on-hover="true")
          .row.success.callout
            h1 Content Slide
            p
              | This slide has HTML content instead of an image and has also had
              code.inline .callout
              | applied to it.
            p
              a.success.button(href='#') Click Me
          .row.info.callout
            h1 Another Content Slide
            p
              | This slide has HTML content instead of an image and has also had
              code.inline .warning.callout
              | applied to it.
            p
              a.large.info.button(href='#') Click Me
        hr
        br
        h2.AmericanTypewriter Tiles
        .tiles
          .row
            .one.mobile.fifth.pad-right
              select.value
                option(value='single', selected) Single
                option(value='group') Group
                option(value='corp') Corp
            .four.mobile.fifths
              .tile(data-value='single')
                i.icon-user
                | Single user
              |  
              .tile(data-value='group')
                i.icon-group
                | Small group
              |  
              .tile(data-value='corp')
                i.icon-building
                | Corporation
        hr
        h4.AverageSans Tile Colors
        .tiles
          .row
            .one.mobile.fifth.pad-right
              select.value(size='5')
                option(value='default', selected) Default
                option(value='yellow') Yellow
                option(value='orange') Orange
                option(value='red') Red
                option(value='pink') Pink
                option(value='purple') Purple
                option(value='asphalt') Asphalt
                option(value='blue') Blue
                option(value='turquoise') Turquoise
                option(value='green') Green
            .four.mobile.fifths
              .tile(data-value='default')
                i.icon-leaf
                | default
              |  
              .tile.yellow(data-value='yellow')
                i.icon-leaf
                | yellow
              |  
              .tile.orange(data-value='orange')
                i.icon-leaf
                | orange
              |  
              .tile.red(data-value='red')
                i.icon-leaf
                | red
              |  
              .tile.pink(data-value='pink')
                i.icon-leaf
                | pink
              |  
              .tile.purple(data-value='purple')
                i.icon-leaf
                | purple
              |  
              .tile.asphalt(data-value='asphalt')
                i.icon-leaf
                | asphalt
              |  
              .tile.blue(data-value='blue')
                i.icon-leaf
                | blue
              |  
              .tile.turquoise(data-value='turquoise')
                i.icon-leaf
                | turquoise
              |  
              .tile.green(data-value='green')
                i.icon-leaf
                | green

        hr
        h4.AverageSans Tile States
        .tiles
          .row
            .one.mobile.fifth.pad-right
              input.value.disabled(type='text', value='active', readonly)
            .four.mobile.fifths
              .tile.disabled(data-value='disabled')
                i.icon-leaf
                | disabled
              |  
              .tile.active(data-value='active')
                i.icon-leaf
                | active
        hr
        h4.AverageSans Tile Sizes
        .tiles
          .row
            .one.mobile.fifth.pad-right
              input.value(type='text', value='small')
            .four.mobile.fifths
              .tile.small(data-value='small')
                i.icon-leaf
                | small
              |  
              .tile.large(data-value='large')
                i.icon-leaf
                | large
              |  
              .tile.square(data-value='square')
                i.icon-leaf
                | square
              |  
              .tile.round(data-value='round')
                i.icon-leaf
                | round
        hr
        h4.AverageSans Hidden Field &amp; Custom Callback Function
        .tiles
          input.value(type='hidden', value='', id='yepNope')
          script(type='text/javascript')
            $(document).ready(function() {
              $('input#yepNope').on('change', function() {
                if($(this).val() == 'yep')
                  alert("Right on!");
                else
                  alert("Aww, how come?");
              });
            });
          .tile(data-value='yep')
            i.icon-thumbs-up
            | thumbs up
          |  
          .tile(data-value='nope')
            i.icon-thumbs-down
            | thumbs down
