extends template

block title
  title GroundworkCSS &hearts;

block content
  .container
    .padded
      .cycle-slideshow(data-cycle-fx='scrollHorz', data-cycle-pause-on-hover='true')
        img(src='http://placehold.it/1200x400/24cada/ffffff/&text=Slide+1', alt='')
        img(src='http://placehold.it/1200x400/bada55/ffffff/&text=Slide+2', alt='')
        img(src='http://placehold.it/1200x400/c82647/ffffff/&text=Slide+3', alt='')
        img(src='http://placehold.it/1200x400/198d98/ffffff/&text=Slide+4', alt='')
    article.row
      aside.one.fourth.right-three.padded.border-left
        h1 Section Heading 1
        ul.list
          li Unordered list item #1
          li Unordered list item #2
          li Unordered list item #3
          li Unordered list item #4
        ol.list
          li Ordered list item #1
          li Ordered list item #2
          li Ordered list item #3
        hr
        h3 Section Heading 3
        .row
          .one.mobile.half.padded
            img(src='http://placehold.it/120x85/198d98/ffffff/', alt='')
          .one.mobile.half.padded
            img(src='http://placehold.it/120x85/198d98/ffffff/', alt='')
        .row
          .one.mobile.half.padded
            img(src='http://placehold.it/120x85/198d98/ffffff/', alt='')
          .one.mobile.half.padded
            img(src='http://placehold.it/120x85/198d98/ffffff/', alt='')
        .row
          .one.mobile.half.padded
            img(src='http://placehold.it/120x85/198d98/ffffff/', alt='')
          .one.mobile.half.padded
            img(src='http://placehold.it/120x85/198d98/ffffff/', alt='')
      section.three.fourths.left-one.padded
        img.pull-left.gap-right.gap-bottom(src='http://placehold.it/300x200/198d98/ffffff/', alt='')
        h1 Section Heading 1
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in.
        hr
        img.pull-right.gap-left.gap-bottom(src='http://placehold.it/300x200/198d98/ffffff/', alt='')
        h3 Section Heading 3
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in.
        hr
        img.pull-left.gap-right.gap-bottom(src='http://placehold.it/300x200/198d98/ffffff/', alt='')
        h3 Section Heading 3
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in.
