$root_path: '../../';
@import "../../../src/scss/core/all";
@import "../../../src/scss/base/all";
@import "../../../src/scss/type/all";
// @import "../../../src/scss/nav/all";
// @import "../../../src/scss/ui/all";
// @import "../../../src/scss/form/all";
// @import "../../../src/scss/misc/all";

@import "demo";


$helpers: inline block 
          zero 
          pull-right pull-left 
          bordered border-right border-left border-top border-bottom 
          align-top align-right align-bottom align-left align-center justify 
          truncate 
          center 
          disabled 
          spacer 
          round 
          rotate-90 rotate-180 rotate-270 rotate-90-ctr rotate-180-ctr rotate-270-ctr 
          spin spin-once spin-twice spin-thrice spin-fast spin-fast-once spin-fast-twice spin-fast-thrice spin-slow spin-slow-once spin-slow-twice spin-slow-thrice;

@for $i from 1 through length($helpers) {
  .extend-#{nth($helpers, $i)} { @extend %#{nth($helpers, $i)}; }

  // interpolated mixin/function calls not currently supported
  // .include-#{nth($helpers, $i)} { @include _#{nth($helpers, $i)}; }

  // proposed syntax with be something like: @call or @invoke
  // .include-#{nth($helpers, $i)} { @call _#{nth($helpers, $i)}; }
}


$spacers: padded pad-top pad-right pad-bottom pad-left 
          gapped gap-top gap-right gap-bottom gap-left;
$modifiers: double triple;

@for $i from 1 through length($spacers) {
  .extend-#{nth($spacers, $i)} {
    @extend %#{nth($spacers, $i)};
    @for $i from 1 through length($modifiers) {
      &.extend-#{nth($modifiers, $i)} { @extend %#{nth($modifiers, $i)}; }
    }
  }
  // interpolated mixin/function calls not currently supported
  // .include-#{nth($helpers, $i)} { @include _#{nth($helpers, $i)}; }

  // proposed syntax with be something like: @call or @invoke
  // .include-#{nth($helpers, $i)} { @call _#{nth($helpers, $i)}; }
}


// manual @include testing since interpolated mixin/function calls are not yet supported
.include-clear, 
.include-clearfix           { @include _clear;}

.include-padded             { @include _padded; }
.include-padded-double      { @include _padded(2); }
.include-padded-triple      { @include _padded(3); }

.include-pad-top            { @include _pad-top; }
.include-pad-top-double     { @include _pad-top(2); }
.include-pad-top-triple     { @include _pad-top(3); }

.include-pad-right          { @include _pad-right; }
.include-pad-right-double   { @include _pad-right(2); }
.include-pad-right-triple   { @include _pad-right(3); }

.include-pad-bottom         { @include _pad-bottom; }
.include-pad-bottom-double  { @include _pad-bottom(2); }
.include-pad-bottom-triple  { @include _pad-bottom(3); }

.include-pad-left           { @include _pad-left; }
.include-pad-left-double    { @include _pad-left(2); }
.include-pad-left-triple    { @include _pad-left(3); }

.include-gapped             { @include _gapped; }
.include-gapped-double      { @include _gapped(2); }
.include-gapped-triple      { @include _gapped(3); }

.include-gap-top            { @include _gap-top; }
.include-gap-top-double     { @include _gap-top(2); }
.include-gap-top-triple     { @include _gap-top(3); }
                   
.include-gap-right          { @include _gap-right; }
.include-gap-right-double   { @include _gap-right(2); }
.include-gap-right-triple   { @include _gap-right(3); }
                   
.include-gap-bottom         { @include _gap-bottom; }
.include-gap-bottom-double  { @include _gap-bottom(2); }
.include-gap-bottom-triple  { @include _gap-bottom(3); }
                   
.include-gap-left           { @include _gap-left; }
.include-gap-left-double    { @include _gap-left(2); }
.include-gap-left-triple    { @include _gap-left(3); }

.include-inline           { @include _inline; }
.include-block            { @include _block; }

.include-zero             { @include _zero; }

.include-pull-right       { @include _pull-right; }
.include-pull-left        { @include _pull-left; }

.include-bordered         { @include _bordered; }
.include-border-top       { @include _border-top; }
.include-border-right     { @include _border-right; }
.include-border-bottom    { @include _border-bottom; }
.include-border-left      { @include _border-left; }

.include-align-top        { @include _align-top; }
.include-align-right      { @include _align-right; }
.include-align-bottom     { @include _align-bottom; }
.include-align-left       { @include _align-left; }
.include-align-center     { @include _align-center; }   
.include-justify          { @include _justify; }

.include-truncate         { @include _truncate; }

.include-center           { @include _center; }

.include-spacer           { @include _spacer; }

.include-round            { @include _round; }

.include-disabled         { @include _disabled; }

.include-rotate-90        { @include _rotate-90; }
.include-rotate-180       { @include _rotate-180; }
.include-rotate-270       { @include _rotate-270; }
.include-rotate-90-ctr    { @include _rotate-90-ctr; }
.include-rotate-180-ctr   { @include _rotate-180-ctr; }
.include-rotate-270-ctr   { @include _rotate-270-ctr; }

.include-spin             { @include _spin; }
.include-spin-once        { @include _spin-once; }
.include-spin-twice       { @include _spin-twice; }
.include-spin-thrice      { @include _spin-thrice; }
.include-spin-fast        { @include _spin-fast; }
.include-spin-fast-once   { @include _spin-fast-once; }
.include-spin-fast-twice  { @include _spin-fast-twice; }
.include-spin-fast-thrice { @include _spin-fast-thrice; }
.include-spin-slow        { @include _spin-slow; }
.include-spin-slow-once   { @include _spin-slow-once; }
.include-spin-slow-twice  { @include _spin-slow-twice; }
.include-spin-slow-thrice { @include _spin-slow-thrice; }

.include-stick            { @include _stick; }
.include-stick-top        { @include _stick(top); }
.include-stick-right      { @include _stick(right); }
.include-stick-bottom     { @include _stick(bottom); }
.include-stick-left       { @include _stick(left); }
.include-stick-middle     { @include _stick(middle); }
.include-stick-center     { @include _stick(center); }
